{% extends 'base.html.twig' %}

{% set bodyClass = 'reporting_dashboard' %}
{% set menuItem = 'reporting_dashboard' %}

{% block body_head %}
    <h1>
        {{ 'reporting.dashboard.title.index'|trans }}
        <small>{{ app.user.collectivity }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-briefcase"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Collectivités</span>
                    <span class="info-box-number">{{ data.collectivity }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Utilisateurs</span>
                    <span class="info-box-number">{{ data.user }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-xs-6 col-lg-3">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'reporting.dashboard.tab.contractor'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <div class="col-sm-6 text-center">
                        <canvas id="contractor-clauses" width="400" height="400"></canvas>
                        <p>{{ 'reporting.dashboard.contractor.contractual_clauses_verified.title'|trans }}</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <canvas id="contractor-conform" width="400" height="400"></canvas>
                        <p>{{ 'reporting.dashboard.contractor.conform.title'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'reporting.dashboard.tab.maturity'|trans }}</h3></div>
                <div class="box-body">
                    {% if data.maturity is empty %}
                        Aucun indice à afficher
                    {% else %}
                        <canvas id="maturity-radar"></canvas>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script>
        let labelYes = '{{ 'label.yes'|trans }}';
        let labelNo = '{{ 'label.no'|trans }}';
    </script>
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script>
        let colorBlue = 'rgba(54, 162, 235, 1)';
        let colorBlueOpacity = 'rgba(54, 162, 235, 0.5)';
        let colorRed = 'rgba(255, 99, 132, 1)';
        let colorRedOpacity = 'rgba(255, 99, 132, 0.5)';

        // CONTRACTOR
        let contractorClausesData = [{{ data.contractor.clauses.yes }}, {{ data.contractor.clauses.no }}];
        let contractorConformData = [{{ data.contractor.conform.yes }}, {{ data.contractor.conform.no }}];

        // MATURITY
        let maturityLabels = [];
        let maturitySerieLabel = [];
        let maturityData = [];
        {% if data.maturity.new is defined %}
            let tmpData1 = [];
            maturitySerieLabel.push('{{ data.maturity.new.name }}');
            {% for domainName, score in data.maturity.new.data %}
                maturityLabels.push('{{ domainName }}');
                tmpData1.push('{{ score }}');
            {% endfor %}
            maturityData.push(tmpData1);
        {% endif %}
        {% if data.maturity.old is defined %}
            let tmpData2 = [];
            maturitySerieLabel.push('{{ data.maturity.old.name }}');
            {% for domainName, score in data.maturity.old.data %}
                tmpData2.push('{{ score }}');
            {% endfor %}
            maturityData.push(tmpData2);
        {% endif %}

        // LOAD GRAPHS
        $(document).ready(function() {
            doughnutChart(
                'contractor-clauses',
                contractorClausesData,
                [colorBlue, colorRed]
            );

            doughnutChart(
                'contractor-conform',
                contractorConformData,
                [colorBlue, colorRed]
            );

            radarChart(
                'maturity-radar',
                maturityLabels,
                maturitySerieLabel,
                maturityData,
                [colorBlueOpacity, colorRedOpacity]
            );
        });
    </script>
{% endblock %}
