{% set notifs = notifications.findAll() %}
{% set unreadNotifs = notifs|filter(n => n.readAt is null) %}
{% set notifsObject = notifs|map(n => ({id : n.id, read_at: n.readAt})) %}
{% block body %}
{% set notifs = notifications.findAll() %}
{% set unreadNotifs = notifs|filter(n => n.readAt is null) %}
{% set notifsObject = notifs|map(n => ({id : n.id, read_at: n.readAt})) %}
    <li class="header" style="list-style: none;">
        <span class="h4">Vous avez {{ unreadNotifs|length }} notifications non lues</span>
        {% if is_granted('ROLE_ADMIN') %}
            {% if notifs|length > 0 %}
                <a id="read-all" href="{{ path('notification_notification_mark_as_read_all') }}" style="float:right;">{{ 'notification.notification.action.mark_as_read_all'|trans }}</a>
            {% endif %}
        {% endif %}
    </li>


    {% for notif in unreadNotifs %}
        {% if loop.index0 < app_notification_max_shown %}
            <li class="box-header with-border single-notification" style="padding: 0.8em;">
                <div class="row">
                    <div class="col-md-8" href="#">
                    <b>[{{ notif.module|trans }}]</b> <a href="#"><b>{{ notif.name }}</b></a>
                    </div>
                    <div class="col-md-4 text-center"><a  href="{{ path('notification_notification_mark_as_read', { 'id': notif.id }) }}" class="btn btn-block text-info" style="border-color: #31708f;background-color:white;">
                        <i class="fas fa-clipboard-check"></i> {{ 'notification.notification.action.mark_as_read'|trans }}
                    </a></div>
                    <div class="col-md-12 text-muted">
                    {{ notif.action|trans }}, 
                    {% set difference = date().diff(date(notif.createdAt)) %}
                    {% set leftDays = difference.days %}

                    {% if leftDays ==  0 %}
                        Aujourd'hui
                    {% elseif leftDays == 1 %}
                        Hier
                    {% else %}
                        il y a {{ leftDays }} jours
                    {% endif %} 

                    {% set data = notif.collectivity.name %} {# notif.object.creator.fullName #}
                    par {{ data }}</div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
    {% set notifsLeft = unreadNotifs|length - app_notification_max_shown > 0 ? unreadNotifs|length - app_notification_max_shown : 0 %}
    <div class="text-center box-header"><a href="{{ path('notification_notification_list') }}">Voir toutes les notifications ({{ notifsLeft }} autres non lues)</a></div>
{% endblock %}


