{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_conformite_traitement form create' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'registry.conformite_traitement.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.conformite_traitement.title.create'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.conformite_traitement.title.list'|trans, 'link': path('registry_conformite_traitement_list') },
        { 'name': 'registry.conformite_traitement.title.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Conformite_traitement/_form.html.twig') }}
    {{ include('Registry/Mesurement/_modal_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ include('Registry/Mesurement/_modal_form_js.html.twig') }}
    {{ include('Registry/Conformite_traitement/_form_js.html.twig') }}

    <script>
        $(document).ready(function(){
            var collect = $('#conformite_traitement_traitement_collectingMethod option:selected').text();
            if (collect.includes('Autre')) {
                $('label[for="conformite_traitement_traitement_otherCollectingMethod"]').show();
                $('input[id="conformite_traitement_traitement_otherCollectingMethod"]').show();
            } else {
                $('label[for="conformite_traitement_traitement_otherCollectingMethod"]').hide();
                $('input[id="conformite_traitement_traitement_otherCollectingMethod"]').hide();
                $('input[id="conformite_traitement_traitement_otherCollectingMethod"]').val('');
            }

            $('#conformite_traitement_traitement_collectingMethod').on('change',function(){
                var collection = $('#conformite_traitement_traitement_collectingMethod option:selected').text();
                if (collection.includes('Autre')) {
                    $('label[for="conformite_traitement_traitement_otherCollectingMethod"]').show();
                    $('#conformite_traitement_traitement_otherCollectingMethod').show();
                    $('#conformite_traitement_traitement_otherCollectingMethod').prop( "disabled", false );
                } else {
                    $('label[for="conformite_traitement_traitement_otherCollectingMethod"]').hide();
                    $('#conformite_traitement_traitement_otherCollectingMethod').hide();
                    $('#conformite_traitement_traitement_otherCollectingMethod').prop( "disabled", false );
                    $('#conformite_traitement_traitement_otherCollectingMethod').val('');
                }
            })

            var author = $('#conformite_traitement_traitement_author option:selected').text();
            console.log('auteur',author);
            if (author === 'Responsable de traitement'){
                $('label[for="conformite_traitement_traitement_coordonneesResponsableTraitement"]').hide();
                $('#conformite_traitement_traitement_coordonneesResponsableTraitement').hide();
                $('#conformite_traitement_traitement_coordonneesResponsableTraitement').val('');
            } else {
                $('label[for="conformite_traitement_traitement_coordonneesResponsableTraitement"]').show();
                $('#conformite_traitement_traitement_coordonneesResponsableTraitement').show();
            }

            $('#conformite_traitement_traitement_author').on('change',function(){
                var author = $('#conformite_traitement_traitement_author option:selected').text();

                if (author === 'Responsable de traitement'){
                    $('label[for="conformite_traitement_traitement_coordonneesResponsableTraitement"]').hide();
                    $('#conformite_traitement_traitement_coordonneesResponsableTraitement').hide();
                    $('#conformite_traitement_traitement_coordonneesResponsableTraitement').val('');
                } else {
                    $('label[for="conformite_traitement_traitement_coordonneesResponsableTraitement"]').show();
                    $('#conformite_traitement_traitement_coordonneesResponsableTraitement').show();
                }
            })
        })
    </script>
{% endblock %}
