{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_conformite_traitement list' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'registry.conformite_traitement.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.conformite_traitement.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.conformite_traitement.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    <a href="{{ path('registry_conformite_traitement_report') }}" class="btn btn-default">
                        <i class="fa fa-clipboard-list"></i>
                        {{ 'registry.conformite_traitement.action.report'|trans }}
                    </a>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'registry.conformite_traitement.list.traitement'|trans }}</th>
                            <th>{{ 'registry.conformite_traitement.list.gestionnaire'|trans }}</th>
                            <th></th>
                            <th>{{ 'registry.conformite_traitement.list.conformite'|trans }}</th>
                            <th>{{ 'registry.conformite_traitement.list.date_conformite'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td>{{ object.manager }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="{% if object.conformiteTraitement is null %}{{ path('registry_conformite_traitement_create', {'idTraitement': object.id}) }}{% else %}{{ path('registry_conformite_traitement_edit', {'id': object.conformiteTraitement.id}) }}{% endif %}">
                                        <i class="fa fa-eye"></i>
                                        {{ 'registry.conformite_traitement.action.show_conformite_traitement'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{#    {% set dataTableOptions = {#}
{#        'order':  [[4, 'desc' ]]#}
{#    } %}#}

    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %}
