{% set submitValue = submitValue|default('action.submit'|trans) %}

<div class="row">
    {{ form_start(form) }}
    {{ form_row(form._token) }}

    {# LEFT #}
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.general'|trans }}</h3>
            </div>
            <div class="box-body">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.collectivity) }}
                {% for role in form.roles %}
                    {% if role.vars.value != "ROLE_API" %}
                        {{ form_row(form.roles) }}
                    {% endif %}
                {% endfor %}
                {{ form_row(form.apiAuthorized) }}
                <div id="user_collectivitesReferees_div">
                    {{ form_row(form.collectivitesReferees) }}
                </div>
                {{ form_row(form.moreInfos) }}
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        <div class="box box-solid box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.optional'|trans }}</h3>
            </div>
            <div class="box-body">
                <blockquote>
                    <small>{{ 'user.user.form.help.password'|trans }}</small>
                </blockquote>
                {{ form_row(form.plainPassword) }}
            </div>
        </div>

        {% if serviceEnabled %}
            <div class="box box-solid box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'user.user.tab.services'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.services) }}
                </div>
            </div>
        {% endif %}


        <div class="box box-solid box-success">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.form.notifications'|trans }}</h3>
            </div>
            <div class="box-body">
                <h4>Fréquence des notifications</h4>
                <table style="border: 0; vertical-align: top">
                    {% for f in form.emailNotificationPreference.frequency %}
                        <tr>
                            <td style="border: 0; vertical-align: top">
                                {{ form_widget(f) }}
                            </td>
                            <td style="border: 0; vertical-align: top">
                            {% if form.emailNotificationPreference[f.vars.value] is defined %}
                                {% set ff = form.emailNotificationPreference[f.vars.value] %}
{#                                {{ dump(ff.vars) }}#}
                                {% if ff.vars.choices is defined %}
                                    <div>
                                    <select style="display: inline-block;width:auto" class="form-control" id="{{ ff.vars.id }}" name="{{ ff.vars.full_name }}">
                                        {% for op in ff.vars.choices %}
                                            <option value="{{ op.value }}">{{ op.label }}</option>
                                        {% endfor %}
                                    </select>
                                    <label style="display: inline-block"  for="{{ ff.vars.id }}">
                                        {{ ff.vars.label }}
                                    </label>
                                    </div>
                                {% elseif ff.vars.form is defined and ff.vars.form | length > 0  %}
                                    {% for field in ff.vars.form %}
                                    <div style="display: inline-block;width:auto">
                                        <select style="display: inline-block;width:auto" class="form-control" id="{{ field.vars.id }}" name="{{ field.vars.full_name }}">
                                            {% for op in field.vars.choices %}
                                                <option value="{{ op.value }}">{{ op.label }}</option>
                                            {% endfor %}
                                        </select>
                                        <label style="display: inline-block"  for="{{ field.vars.id }}">
                                            {{ field.vars.label }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <H4 style="margin-top: 1em">Recevoir des notifications par email</H4>

                {{ form_widget(form.emailNotificationPreference.modules) }}
            </div>
        </div>
    </div>



    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('user_user_list') }}" class="btn btn-default">
                    {{ 'user.user.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form, {render_rest: false}) }}
</div>
