{% set submitValue = submitValue|default('action.submit'|trans) %}
<style>
    .radio {
        padding-left: 2em;
    }
</style>
<div class="row">
    {{ form_start(form) }}
    {{ form_row(form._token) }}

    {# LEFT #}
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.general'|trans }}</h3>
            </div>
            <div class="box-body">
                {{ form_row(form.firstName, {'attr': {'autocomplete': 'given-name'}}) }}
                {{ form_row(form.lastName, {'attr': {'autocomplete': 'family-name'}}) }}
                {{ form_row(form.email, {'attr': {'autocomplete': 'email'}}) }}
                {{ form_row(form.collectivity, {'attr': {'autocomplete': 'organization'}}) }}
                {{ form_row(form.roles) }}

                {{ form_row(form.apiAuthorized) }}
                <div id="user_collectivitesReferees_div">
                    {{ form_row(form.collectivitesReferees) }}
                </div>
                {{ form_row(form.moreInfos) }}
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        <div class="box box-solid box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.optional'|trans }}</h3>
            </div>
            <div class="box-body">
                <blockquote>
                    <small>{{ 'user.user.form.help.password'|trans }}</small>
                </blockquote>
                {{ form_row(form.plainPassword) }}
            </div>
        </div>

        {# SSO #}
        {% if sso_title %}
            <div class="box box-solid box-primary">
                <div class="box-header">{{ 'user.profile.form_user.tab.login_delegation'|trans }}</div>
                <div class="box-body">
                    <div class="form-group {% if form.ssoKey.vars.valid==false %}has-error{% endif %}">
                        <label class="col-sm-2">{{ 'user.user.form.sso_key'|trans }}</label>
                        <span class="col-sm-2"><img src="{{ asset(sso_icon) }}" alt="">{{ sso_title }}</span>
                        <div class="col-sm-8">
                            <div class="input-group col-sm-8">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                {{ form_widget(form.ssoKey) }}

                            </div>
                            {{ form_errors(form.ssoKey) }}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}

        {% if serviceEnabled %}
            <div class="box box-solid box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'user.user.tab.services'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.services) }}
                </div>
            </div>
        {% endif %}

        {% include('@templates_path/User/Profile/notifications.html.twig') %}
    </div>



    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a aria-label="{{ 'user.user.action.back_to_list'|trans }}" href="{{ path('user_user_list') }}" class="btn btn-default">
                    {{ 'user.user.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form, {render_rest: false}) }}
</div>
