{% set submitValue = submitValue|default('action.submit'|trans) %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.general'|trans }}</h3>
            </div>
            <div class="box-body">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.collectivity) }}
                {% for role in form.roles %}
                    {% if role.vars.value != "ROLE_API" %}
                        {{ form_row(form.roles) }}
                    {% endif %}
                {% endfor %}
                {{ form_row(form.apiAuthorized) }}
                <div id="user_collectivitesReferees_div">
                    {{ form_row(form.collectivitesReferees) }}
                </div>
                {{ form_row(form.moreInfos) }}
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        <div class="box box-solid box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.optional'|trans }}</h3>
            </div>
            <div class="box-body">
                <blockquote>
                    <small>{{ 'user.user.form.help.password'|trans }}</small>
                </blockquote>
                {{ form_row(form.plainPassword) }}
            </div>
        </div>


            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Notifications
                    </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="checkbox" name="is_notified" value="none" checked/>
                            Les actions de cet utilisateur ne génère pas de notification
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-sm-2">
                            <b>Fréquence par défaut des notifications Email</b>
                        </div>
                        <div class="col-sm-10">
                            <p>
                                <input type="radio" name="alert" value="none" checked/>
                                Aucune notification
                            </p>
                            <p>
                                <input type="radio" name="alert" value="only_one"/>
                                Notifications unitaires
                            </p>
                            <p>
                                <input type="radio" name="alert" value="every_hours"/>
                                Toutes les
                                <select name="hours_interval" id="hours_interval">
                                    <option value="{{ 1 }}" selected>1</option>
                                    {% for i in 2..23 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                heures
                            </p>
                            <p>
                                <input type="radio" name="alert" value="daily"/>
                                Quotidien à
                                <select name="daily_hour" id="daily_hour">
                                    <option value="{{ 7 }}" selected>7</option>
                                    {% for i in 8..19 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                heure
                            </p>
                            <p>
                                <input type="radio" name="alert" value="weekly"/>
                                Hebdomadaire le
                                <select name="weekly_day" id="weekly_day">
                                    <option value="Lundi" selected>Lundi</option>
                                    <option value="Mardi">Mardi</option>
                                    <option value="Mercredi">Mercredi</option>
                                    <option value="Jeudi">Jeudi</option>
                                    <option value="Vendredi">Vendredi</option>
                                </select>
                                à
                                <select name="weekly_hour" id="weekly_hour">
                                    <option value="{{ 7 }}" selected>7</option>
                                    {% for i in 8..19 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                heure
                            </p>
                            <p>
                                <input type="radio" name="alert" value="monthly"/>
                                Mensuelle le
                                <select name="monthly_week" id="monthly_week">
                                    <option value="Premier">Premier</option>
                                    <option value="Second">Second</option>
                                    <option value="Troisième">Troisième</option>
                                    <option value="Quatrième">Quatrième</option>
                                </select>
                                <select name="monthly_day" id="monthly_day">
                                    <option value="Lundi" selected>Lundi</option>
                                    <option value="Mardi">Mardi</option>
                                    <option value="Mercredi">Mercredi</option>
                                    <option value="Jeudi">Jeudi</option>
                                    <option value="Vendredi">Vendredi</option>
                                </select>
                                à
                                <select name="monthly_hour" id="monthly_hour">
                                    <option value="{{ 7 }}" selected>7</option>
                                    {% for i in 8..19 %}
                                        <option value="{{ i }}">{{ i }}h</option>
                                    {% endfor %}
                                </select>
                                heure
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <b>Recevoir des notifications par Email</b>
                        </div>
                        <div class="col-sm-10">
                            <div>
                                <input type="checkbox" name="is_treatment" value="none"/>
                                Notifications pour le module traitements
                            </div>
                            <div>
                                <input type="checkbox" name="is_subcontract" value="none"/>
                                Notifications pour le module sous-traitants
                            </div>
                            <div>
                                <input type="checkbox" name="is_request" value="none"/>
                                Notifications pour le module demandes
                            </div>
                            <div>
                                <input type="checkbox" name="is_violation" value="none"/>
                                Notifications pour le module violations
                            </div>
                            <div>
                                <input type="checkbox" name="is_proof" value="none"/>
                                Notifications pour le module preuves
                            </div>
                            <div>
                                <input type="checkbox" name="is_protectAction" value="none"/>
                                Notifications pour le module actions de protection
                            </div>
                            <div>
                                <input type="checkbox" name="is_maturity" value="none"/>
                                Notifications pour le module maturité
                            </div>
                            <div>
                                <input type="checkbox" name="is_treatmenConformity" value="none"/>
                                Notifications pour le module conformité des traitements
                            </div>
                            <div>
                                <input type="checkbox" name="is_organizationConformity" value="none"/>
                                Notifications pour le module conformité de l'organisation
                            </div>
                            <div>
                                <input type="checkbox" name="is_AIPD" value="none"/>
                                Notifications pour le module AIPD
                            </div>
                            <div>
                                <input type="checkbox" name="is_document" value="none"/>
                                Notifications pour le module espace documentaire
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if serviceEnabled %}
            <div class="box box-solid box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'user.user.tab.services'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.services) }}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('user_user_list') }}" class="btn btn-default">
                    {{ 'user.user.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
