{% extends 'base.html.twig' %}

{% set bodyClass = 'user_user form create' %}
{% set menuItem = 'user_user' %}

{% block title %}{{ 'user.user.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'user.user.title.create'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.user.breadcrumb.list'|trans, 'link': path('user_user_list') },
        { 'name': 'user.user.breadcrumb.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {{ include('User/User/_form.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function() {

            // Initialize form
            checkData();
            var collectivityField = $('#user_collectivity');

            // Enable interactions
            collectivityField.on('change', function() {

                let sourceCollectivityId = collectivityField.val();
                let dataField = $('#user_services');

                let url = window.location.pathname.split('/');
                let userId = url[url.length - 1];

                let route = '';
                if (sourceCollectivityId) {
                    route = "{{ path('user_user_create') }}".replace(':collectivityId', sourceCollectivityId).replace(':userId', userId);
                } else {
                    dataField.prop('disabled', true);
                }

                let data = {};
                data[collectivityField.attr('name')] = collectivityField.val();
                // Get data and display them
                $.ajax({
                    url: route,
                    context: document.body,
                    type: $(this).closest('form').attr('method'),
                    data: data,
                    complete: function(html) {
                        dataField.replaceWith(
                            $(html.responseText).find('#user_services')
                        );
                    }
                })
            });
        });

        function checkData() {

        }

    </script>

{% endblock %}
