{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity form create' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.collectivity.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'user.collectivity.title.create'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.collectivity.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.collectivity.breadcrumb.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('User/Collectivity/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('label[for="collectivity_otherType"]').hide();
            $('input[name="collectivity[otherType]"]').hide();
            $("#collectivity_type").change(function(){
                if ($('input[name="collectivity[type]"]:checked').val() === 'other'){
                    $('label[for="collectivity_otherType"]').show();
                    $('input[name="collectivity[otherType]"]').show();
                }else {
                    $('label[for="collectivity_otherType"]').hide();
                    $('input[name="collectivity[otherType]"]').hide();
                    $('input[name="collectivity[otherType]"]').val('');
                }
            });
        });
    </script>

    {{ encore_entry_script_tags('js/collectionManager') }}

    <script>
        $(document).ready(function(){
            $("#collectivity_dpo_civility").prop("required", false);
            $("#collectivity_dpo_firstName").prop("required", false);
            $("#collectivity_dpo_lastName").prop("required", false);
            $("#collectivity_dpo_job").prop("required", false);
            $("#collectivity_dpo_mail").prop("required", false);
            $("#collectivity_dpo_phoneNumber").prop("required", false);

            $('#collectivity_differentDpo').on('change', function(){
                if ($('#collectivity_differentDpo').is(':checked')){
                    $("#collectivity_dpo_civility").prop("required", "true");
                    $("#collectivity_dpo_firstName").prop("required", "true");
                    $("#collectivity_dpo_lastName").prop("required", "true");
                    $("#collectivity_dpo_job").prop("required", "true");
                    $("#collectivity_dpo_mail").prop("required", "true");
                    $("#collectivity_dpo_phoneNumber").prop("required", "true");
                }
                else {
                    $("#collectivity_dpo_civility").prop("required", false);
                    $("#collectivity_dpo_firstName").prop("required", false);
                    $("#collectivity_dpo_lastName").prop("required", false);
                    $("#collectivity_dpo_job").prop("required", false);
                    $("#collectivity_dpo_mail").prop("required", false);
                    $("#collectivity_dpo_phoneNumber").prop("required", false);
                }
            })
        })
    </script>
{% endblock %}
