{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity delete' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}
    {{ 'user.organization.title.delete'|trans }}
    -
    {{ parent() }}
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.organization.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.organization.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.organization.breadcrumb.delete'|trans({ '%name%': object }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>{{ 'user.organization.label.delete_confirm'|trans({ '%object%': object }) }}</p>
                    <p><strong>{{ 'user.organization.label.delete_confirm_list'|trans }}</strong></p>
                    <ul>
                        {% for deletedObject in deletedObjects %}
                            <li>
                                {{ deletedObject }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box-footer">
                    <a href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('user_collectivity_delete_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'global.action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
