{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity form edit' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.collectivity.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.collectivity.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.collectivity.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.collectivity.breadcrumb.edit'|trans({'%name%': form.vars.value}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('User/Collectivity/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('input[name="collectivity[nbrCnil]"]').removeAttr('disabled');
        });
    </script>


    {{ encore_entry_script_tags('js/collectionManager') }}

    <script>
        $(document).ready(function(){
            if ($('#collectivity_differentDpo').is(':checked')){
                $("#collectivity_dpo_civility").attr("required", "true");
                $("#collectivity_dpo_firstName").attr("required", "true");
                $("#collectivity_dpo_lastName").attr("required", "true");
                $("#collectivity_dpo_job").attr("required", "true");
                $("#collectivity_dpo_mail").attr("required", "true");
                $("#collectivity_dpo_phoneNumber").attr("required", "true");
                $('input[name="collectivity[nbrCnil]"]').removeAttr('disabled');
            }

            $('#collectivity_differentDpo').on('change', function(){
                if ($('#collectivity_differentDpo').is(':checked')){
                    $("#collectivity_dpo_civility").prop("required", "true");
                    $("#collectivity_dpo_firstName").prop("required", "true");
                    $("#collectivity_dpo_lastName").prop("required", "true");
                    $("#collectivity_dpo_job").prop("required", "true");
                    $("#collectivity_dpo_mail").prop("required", "true");
                    $("#collectivity_dpo_phoneNumber").prop("required", "true");
                }
                else {
                    $("#collectivity_dpo_civility").prop("required", false);
                    $("#collectivity_dpo_firstName").prop("required", false);
                    $("#collectivity_dpo_lastName").prop("required", false);
                    $("#collectivity_dpo_job").prop("required", false);
                    $("#collectivity_dpo_mail").prop("required", false);
                    $("#collectivity_dpo_phoneNumber").prop("required", false);
                }
                $('input[name="collectivity[nbrCnil]"]').removeAttr('disabled');
            })
        })
    </script>
{% endblock %}
