{% extends 'base.html.twig' %}
{% import 'User/Collectivity/_form.html.twig' as formMacros %}

{% set bodyClass = 'user_profile_collectivity form edit' %}
{% set menuItem = 'user_profile_collectivity' %}
{% set submitValue = submitValue|default('user.profile.form_collectivity.action.submit'|trans) %}

{% block title %}{{ 'user.profile.title.collectivity_edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.profile.title.collectivity_edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.profile.breadcrumb.collectivity_show'|trans, 'link': path('user_profile_collectivity_show') },
        { 'name': 'user.profile.breadcrumb.collectivity_edit'|trans }

    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_row(form.name) }}
                    {{ form_row(form.shortName) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.siren) }}
                    {{ form_row(form.finessGeo) }}
                    <!-- Pas d'option du statut, car rendre inactif la structure bloquerait l'utilisateur -->
                {% endif %}
                {{ form_row(form.website) }}
                {{ form_row(form.nbrAgents) }}
                {{ form_row(form.population) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_row(form.informationsComplementaires) }}
                {% endif %}
            </div>
        </div>
            {# ADDRESS #}
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.address'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_widget(form.address) }}
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}

            {# MODULES #}
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.modules'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.hasModuleTools) }}
                    {{ form_row(form.hasModuleConformiteTraitement) }}
                    {{ form_row(form.hasModuleConformiteOrganisation) }}
                    {{ form_row(form.isServicesEnabled) }}
                </div>
            </div>

            {# SERVICES TODO #}
            {% do form.services.setRendered() %}
            <div class="box box-solid" id="box-services">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.show.has_module_services'|trans }}</h3></div>
                <div class="box-body">
                    <div class="js-collection-wrapper"
                        data-prototype="{{ formMacros.printService(form.services.vars.prototype)|e('html_attr') }}"
                        data-index="{{ form.services|length }}">
                            {% for service in form.services %}
                                {{ formMacros.printService(service) }}
                            {% endfor %}
                        <button id="add-services" class="js-collection-add btn btn-default">
                            <i aria-hidden="true" class="fa fa-plus"></i> Ajouter un service
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}

        {# BILAN #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.bilan'|trans }}</h3></div>
            <div class="box-body">
                {# REPORTING MANAGEMENT COMMITMENT #}
                {{ form_row(form.reportingBlockManagementCommitment) }}
                {# REPORTING CONTINUOUS IMPROVEMENT #}
                {{ form_row(form.reportingBlockContinuousImprovement) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# LEGAL MANAGER #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.legal_manager'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.legalManager) }}
            </div>
        </div>

        {# DPO #}
        <div id="box-dpo" class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.dpo'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.nbrCnil) }}
                {{ form_row(form.differentDpo) }}
                {{ form_widget(form.dpo) }}
            </div>
        </div>

        {# REFERENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.referent'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.referent) }}
            </div>
        </div>

        {# IT MANAGER #}
        <div id="box-it-manager" class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.it_manager'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.differentItManager) }}
                {{ form_widget(form.itManager) }}
            </div>
        </div>

        {# COMITE IL CONTACT #}
        {% do form.comiteIlContacts.setRendered() %}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.comite_il'|trans }}</h3></div>
            <div class="box-body">
                <div class="js-collection-wrapper"
                     data-prototype="{{ formMacros.printComiteIlContact(form.comiteIlContacts.vars.prototype)|e('html_attr') }}"
                     data-index="{{ form.comiteIlContacts|length }}"
                >
                    {% for contact in form.comiteIlContacts %}
                        {{ formMacros.printComiteIlContact(contact) }}
                    {% endfor %}
                    <button class="js-collection-add btn btn-default">
                        <i aria-hidden="true" class="fa fa-plus"></i> Ajouter un membre
                    </button>
                </div>
            </div>
        </div>

        {# prevents weird label from showing up in new #}
        {# {{ form_widget(form.comiteIlContacts) }}#}
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a aria-label="{{ 'user.collectivity.action.back_to_list'|trans }}" href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                    {{ 'user.collectivity.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/collectionManager') }}
{% endblock %}
