{% extends 'base_mail.html.twig' %}

{% block body %}
    <h1>{{ 'notification.email.subject'|trans }}</h1>

    <p>Bonjour{{ user ? ' ' ~ user.firstname : '' }},</p>
    <p>
        {{ app_notification_email_first_line|raw }}
    </p>

    {% for notification in notifications %}
        <p>{{ notification|sentence|raw }}</p>
        <p class="text-muted">
            {{ notification.action | trans }}, <b>{{ notification.createdAt|ago }}</b>
            {% if notification.createdBy %}
                par <b>{{ notification.createdBy }}</b>
            {% endif %}
        </p>
    {% endfor %}

    <p>
        <a href="{{ url('reporting_dashboard_index') }}">{{ 'notification.email.madis'|trans }}</a>
    </p>
{% endblock %}
