{% set submitValue = submitValue|default('action.submit'|trans) %}

{{ form_start(form) }}
{% do form.answers.setRendered() %}
{% do form.referentiel.setRendered() %}
{{ dump(form.children) }}
<ul>
{% for domain in form.vars.value.referentiel.domains %}
    <li>
    Section: {{ domain.name }}
    <ul>
    {% for question in domain.questions %}
        <li>
        {{ question.name }}
        {% for answer in question.answers %}
            <label>
                <input id="answer-{{ answer.id }}" type="radio" name="survey[answers][]" value="{{ answer.id }}" />
                {{ answer.name }}
            </label>
        {% endfor %}
        </li>
    {% endfor %}
</ul>
    </li>
{% endfor %}
</ul>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                        {{ 'maturity.survey.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}
