{% set submitValue = submitValue|default('action.submit'|trans) %}

{{ form_start(form) }}
{{ dump(form) }}
{%   for section in referentiel.referentielSections %}
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ section.name }}</h3></div>
            <div class="box-body">
                {% for question in section.referentielQuestions %}
                    <div class="box-header with-border"><h3 class="box-title">{{ question.name }}</h3></div>
                    <div class="box-body">

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                    {{ 'maturity.survey.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
