{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('maturity.survey.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('maturity.survey.action.new_submit'|trans) %}
{% endif %}


{{ form_start(form) }}
{% do form.questions.setRendered() %}
{% do form.referentiel.setRendered() %}
{{ form_errors(form) }}
<div class="row">
    {% set colors = ['box-info','box-success','box-primary','box-warning'] %}
    <input type="hidden" name="referentiel" value="{{ form.vars.value.referentiel ? form.vars.value.referentiel.id : '' }}" />
    {% set domains = form.vars.value.referentiel ? form.vars.value.referentiel.domains : [] %}


    {% for domain in domains %}
        <div class="col-md-6">
            <div class="box box-solid {{ colors[loop.index % 4] }}">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ domain.name }}</h3>
                </div>
                <div class="box-body">
                    {{ domain.description }}
                    {{ dump(form.vars.data.answerSurveys|length) }}
                    {% for question in domain.questions %}
                        {% set optionAnswers = form.vars.data.optionalAnswers ? form.vars.data.optionalAnswers|filter(a => a.question.id == question.id) : [] %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4><b>{{ question.name }}*</b></h4>
                                {% if question.optional %}
                                    <input
                                            class="question-option checkbox-round"
                                            id="question-option-{{ question.id }}"
                                            type="checkbox" name="survey[questions][{{ question.id }}][option]"
                                            value="1"
                                            style="margin-bottom: 4px"
                                            {% if optionAnswers|length > 0 and optionAnswers|first.reason %} checked {% endif %}
                                    />
                                    Non concerné<span class="question-option-reason" {% if not (optionAnswers|length > 0 and optionAnswers|first.reason) %} style="display:none"{% endif %}>&nbsp;:
                                    <input id="question-option-reason-{{ question.id }}" type="text" name="survey[questions][{{ question.id }}][optionReason]" value="{% if optionAnswers|length > 0 %}{{ optionAnswers|first.reason }}{% endif %}" />
                                    </span>
                                {% endif %}
                                <ul {% if optionAnswers|length > 0 and optionAnswers|first.reason %} style="display:none; list-style: none;padding-left: 0;"{% endif %} style="padding-left: 0">
                                    {% for answer in question.answers|sort((a, b) => a.position > b.position) %}
                                        {{ form.vars.data.answerSurveys|filter(a => a.answer.id == answer.id)|length }}
                                        <label>
                                        <input {% if form.vars.data.answerSurveys|filter(a => a.answer.id == answer.id)|length > 0 %} checked {% endif%} id="answer-{{ answer.id }}" type="radio" name="survey[questions][{{ question.id }}][answers][]" value="{{ answer.id }}" {% if not (optionAnswers|length > 0 and optionAnswers|first.reason) %}required{% endif%} />
                                        {{ answer.name }}
                                        </label>
                                        <br>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                {% if domains|length == 0 %}
                    <p>Aucun référentiel pour cet indice de maturité.</p>
                {% endif %}
                <a aria-label="{{ 'maturity.survey.action.back_to_list'|trans }}" href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                    {{ 'maturity.survey.action.back_to_list'|trans }}
                </a>
                {% if domains|length > 0 %}
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

<style>
    .checkbox-round {
        width: 13px;
        height: 13px;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #6d6d6d;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: default;
    }

    .checkbox-round:checked {
        background-color: #005CC8;
        border: 1px solid #005CC8;
        border-radius: 100%;
    }
</style>
