{% set submitValue = submitValue|default('action.submit'|trans) %}

{{ form_start(form) }}
{% do form.questions.setRendered() %}
{% do form.referentiel.setRendered() %}

{% for a in form.vars.data.answers %}
{#{{ dump(a.id) }}#}
{% endfor %}
{{ form_errors(form) }}
<div class="row">
    {% set colors = ['box-info','box-success','box-primary','box-warning'] %}
    <input type="hidden" name="referentiel" value="{{ form.vars.value.referentiel.id }}" />
{% for domain in form.vars.value.referentiel.domains %}
    <div class="col-md-6">
        <div class="box box-solid {{ colors[loop.index % 4] }}">
            <div class="box-header with-border">
                <h3 class="box-title">{{ domain.name }}</h3>
            </div>
            <div class="box-body">

    {% for question in domain.questions %}
        <div class="row">
            <div class="col-md-12">
                {{ question.name }}
                <ul>
                {% for answer in question.answers %}
                    <li>
                    <label>
                        <input {% if form.vars.data.answers|filter(a => a.id == answer.id)|length > 0 %} checked {% endif%} id="answer-{{ answer.id }}" type="radio" name="survey[questions][{{ question.id }}][answers][]" value="{{ answer.id }}" required />
                        {{ answer.name }}
                    </label>
                    </li>
                {% endfor %}
                </ul>

            </div>
        </div>
    {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                        {{ 'maturity.survey.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}
