{% set submitValue = submitValue|default('action.submit'|trans) %}

{{ form_start(form) }}
    {% for section in form.surveyReferentiel.surveyReferentielSections|sort((a, b) => a.vars.data.orderNumber <=> b.vars.data.orderNumber) %}
        {% include 'Maturity/Survey/_form_survey_referentiel_section.html.twig' with {'form': section} %}
    {%  endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                        {{ 'maturity.survey.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}
