{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_survey delete' %}
{% set menuItem = 'maturity_survey' %}

{% block title %}{{ 'maturity.survey.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'maturity.survey.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.survey.breadcrumb.list'|trans, 'link': path('maturity_survey_list') },
        { 'name': 'maturity.survey.breadcrumb.delete'|trans({ '%name%': object }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>{{ 'maturity.survey.label.delete_confirm'|trans({ '%object%': object.referentiel, '%date%': object.createdAt|date('d/m/Y') }) }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('maturity_survey_delete_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'global.action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
