{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_survey list' %}
{% set menuItem = 'maturity_survey' %}

{% block title %}{{ 'maturity.survey.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'maturity.survey.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.survey.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'maturity.survey.action.new'|trans }}" href="{{ path('maturity_survey_start') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'maturity.survey.action.new'|trans }}
                    </a>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table role="presentation" id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                <select class="form-control" id="search_referentiel" style="width: 100%;">
                                    <option value="">Référentiel</option>
                                    {#  for key, subject in dictionary('registry_request_object') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor #}
                                </select>
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="Structure" style="width: 100%;">
                                </th>
                            {% endif %}
                            <th scope="col">
                                <input class="form-control" type='number' id="search_score" style="width: 100%;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'maturity.survey.list.referentiel'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'maturity.survey.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'maturity.survey.list.score'|trans }}</th>
                            <th scope="col">{{ 'maturity.survey.list.created_at'|trans }}</th>
                            <th scope="col">{{ 'maturity.survey.list.updated_at'|trans }}</th>
                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN') and object.referentiel is defined and object.referentiel.id is defined %}
                                    <a href="{{ path('maturity_referentiel_edit', { 'id': object.referentiel.id }) }}">
                                        {{ object.referentiel.name }}
                                    </a>
                                {% elseif(object.referentiel is defined and object.referentiel.name is defined) %}
                                    {{ object.referentiel.name }}
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_REFERENT') %}
                                <td>{{ object.collectivity }}</td>
                            {% endif %}
                            <td>{{ object.score / 10 }}</td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                            <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                            <td>
                                {% if object.referentiel is defined and object.referentiel.id is defined  %}
                                <a aria-label="{{ 'action.print'|trans }}" href="{{ path('maturity_survey_report', { 'id': object.id }) }}">
                                    <i class="fa fa-print"></i>
                                    {{ 'action.print'|trans }}
                                </a>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                {% if object.referentiel is defined and object.referentiel.id is defined %}
                                <a aria-label="{{ 'action.edit'|trans }}" href="{{ path('maturity_survey_edit', { 'id': object.id }) }}">
                                    <i class="fa fa-pencil-alt"></i>
                                    {{ 'action.edit'|trans }}
                                </a>
                                {% endif %}
                                <a aria-label="{{ 'action.delete'|trans }}" href="{{ path('maturity_survey_delete', { 'id': object.id }) }}">
                                    <i class="fa fa-trash"></i>
                                    {{ 'action.delete'|trans }}
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% if is_granted('ROLE_REFERENT') %}
    {% set dataTableOptions = {
        columns: [
            {"data": "referentiel","className": "noVis", "visible": true},
            {"data": "collectivity", "className": "noVis"},
            {"data": "score", "visible": true},
            {"data": "createdAt"},
            {"data": "updatedAt"},
            {"data": "actions", "className": "noVis", "orderable": false}
        ]
    } %}
    {% else %}
        {% set dataTableOptions = {
            columns: [
                {"data": "referentiel","className": "noVis", "visible": true},
                {"data": "score", "visible": true},
                {"data": "createdAt"},
                {"data": "updatedAt"},
                {"data": "actions", "className": "noVis", "orderable": false}
            ]
        } %}
    {% endif %}

    {{ include('_Utils/_datatable.html.twig') }}

<script>
    function setEvents() {
        var oTable = $('#table').DataTable();
        var col = 0;
        {% if is_granted('ROLE_REFERENT') %}
        col = 1;
        {% endif %}

        $('#search_created_at').show('slide',function(){
            $('input#search_created_at').val('');
        });
        $('#search_updated_at').show('slide',function(){
            $('input#search_updated_at').val('');
        });

        $('#search_referentiel').off('change');
        $('#search_referentiel').change(function(){
            oTable.column('0').search($(this).val()).draw();
        });

        $('#search_collectivite').off('keyup');
        $('#search_collectivite').keyup($.debounce(250, function(){
            oTable.column('1').search($(this).val()).draw();
        }));

        $('#search_score').off('keyup');
        $('#search_score').keyup($.debounce(250, function(){
            oTable.column('col + 1').search($(this).val()).draw();
        }));

        $('#search_created_at').off('change');
        $('#search_created_at').change(function(){
            oTable.column(col + 2).search($(this).val()).draw();
        });

        $('#search_updated_at').off('change');
        $('#search_updated_at').change(function(){
            oTable.column(col + 3).search($(this).val()).draw();
        });
    }
    $(document).ready(function() {
        $('#table_filter').hide();
        setEvents();
    });
    </script>
{% endblock %}
