{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_survey form edit' %}
{% set menuItem = 'maturity_survey' %}

{% block title %}{{ 'maturity.survey.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'maturity.survey.title.show'|trans }}
        <small>{{ object.createdAt|date("d/m/Y") }}</small>
    </h1>

{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.survey.breadcrumb.list'|trans, 'link': path('maturity_survey_list') },
        { 'name': 'maturity.survey.breadcrumb.show'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">Indice de maturité</h3></div>
            <div class="box-body">
                {% if object.maturity is empty %}
                    Aucun indice à afficher
                {% else %}
                    {% if object.maturity.new is defined and object.maturity.new.data is defined and object.maturity.new.data|length >= 3 %}

                        <canvas id="maturity-radar"></canvas>
                    {% else %}
                        Le référentiel contient moins de trois sections
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box bg-aqua">
            <span class="info-box-icon bg-aqua"><i class="fa fa-chart-line"></i></span>
            <div class="info-box-content" style="padding-top: 20px">
                <span class="info-box-text">Score</span>
                <span class="info-box-number">{{ object.score/10|round(1) }}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% set colors = ['box-info','box-success','box-primary','box-warning'] %}
    <div class="col-md-12"><h4>Préconisations</h4></div>
    {% for domain in object.referentiel.domains|sort((a, b) => a.position <=> b.position) %}
        <div class="col-md-6">
            <div class="box box-solid {{ colors[loop.index % 4] }}">
                <div class="box-header with-border"><h3 class="box-title">{{ domain.name }}</h3></div>
                <div class="box-body">
                    {% for answerSurvey in object.answerSurveys %}
                        <div>
                            {{ answerSurvey.answer.recommendation }}
                            {{ dump(answerSurvey.mesurements, form) }}
                            {#  form_widget(answerSurvey.mesurements) #}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {# include('Maturity/Survey/_form.html.twig') #}
{% endblock %}
{% block javascripts %}
    <script>
        let maturityLabels = [];
        let maturitySerieLabel = [];
        let maturityData = [];

        {% if object.maturity.new is defined %}
            let tmpData1 = [];
            maturitySerieLabel.push('{{ data.maturity.new.name }}');
            {% for position, info in data.maturity.new.data %}
                maturityLabels.push('{{ info.name }}');
                tmpData1.push('{{ info.score }}');
            {% endfor %}
            maturityData.push(tmpData1);
        {% endif %}
        {% if data.maturity.old is defined %}
            let tmpData2 = [];
            maturitySerieLabel.push('{{ data.maturity.old.name }}');
            {% for position, info in data.maturity.old.data %}
                tmpData2.push('{{ info.score }}');
            {% endfor %}
            maturityData.push(tmpData2);
        {% endif %}
    </script>
{% endblock %}
