<tr>
    <td><strong>{{ 'global.label.linked_violation'|trans }}</strong></td>
    <td>
        {% if violations|length > 0 %}
            <ul class="ps-1">
                {% for violation in violations %}
                    <li>
                        <a href="{{ path('registry_treatment_violation_show', { id: violation.id }) }}">
                            {% if violation.deletedAt is not null %}({{ 'global.label.archived'|trans }}){% endif %}
                            {{ violation.date|date('d/m/Y') }} - {{ violation.violationNatures|map(n => n|dictionary('registry_violation_nature'))|join(', ') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_violation'|trans }}</i></span>
        {% endif %}
    </td>
</tr>
