<tr>
    <td><strong>{{ 'global.label.linked_proof'|trans }}</strong></td>
    <td>
        {% if proofs|length > 0 %}
            <ul class="ps-1">
                {% for proof in proofs %}
                    <li>
                        <a href="{{ path('registry_proof_download', { id: proof.id }) }}">
                            {% if proof.deletedAt is not null %}({{ 'global.label.archived'|trans }}){% endif %}
                            {{ proof.name }} ({{ proof.type|dictionary('registry_proof_type') }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_proof'|trans }}</i></span>
        {% endif %}
    </td>
</tr>
