<tr>
    <td><strong>{{ 'global.label.linked_request'|trans }}</strong></td>
    <td>
        {% if requests|length > 0 %}
            <ul class="ps-1">
                {% for request in requests %}
                    <li>
                        <a href="{{ path('registry_treatment_request_show', { id: request.id }) }}">
                            {% if request.deletedAt is not null %}({{ 'global.label.archived'|trans }}){% endif %}
                            {{ request.date|date('d/m/Y') }} - {{ request.applicant.firstName }} {{ request.applicant.lastName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_request'|trans }}</i></span>
        {% endif %}
    </td>
</tr>
