<tr>
    <td><strong>{{ 'global.label.linked_mesurement'|trans }}</strong></td>
    <td>
        {% if mesurements|length > 0 %}
            <ul class="ps-1">
                {% for mesurement in mesurements %}
                    <li>
                        <a href="{{ path('registry_mesurement_show', { id: mesurement.id }) }}">
                            {{ mesurement.name }} ({{ mesurement.status|dictionary('registry_mesurement_status') }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_mesurement'|trans }}</i></span>
        {% endif %}
    </td>
</tr>
