<tr>
    <td><strong>{{ 'global.label.linked_treatment'|trans }}</strong></td>
    <td>
        {% if treatments|length > 0 %}
            <ul class="ps-1">
                {% for treatment in treatments %}
                    <li>
                        <a href="{{ path('registry_treatment_show', { id: treatment.id }) }}">
                            {% if treatments != treatment.active %}({{ 'global.label.inactive'|trans }}){% endif %}
                            {{ treatment.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_treatment'|trans }}</i></span>
        {% endif %}
    </td>
</tr>
