{% use "bootstrap_3_layout.html.twig" %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}

    {{- parent() -}}

    {%- if type == 'password' -%}
        <span class="fa fa-eye form-control-feedback"></span>
    {%- endif -%}
{%- endblock form_widget_simple -%}

{#{% block wrapped_choice_widget %}#}
{#    {{ dump(form) }}#}

{#    <select class="form-control" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}">#}
{#        {% for op in form.vars.choices %}#}
{#            <option value="{{ op.value }}">{{ op.label }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#{% endblock wrapped_choice_widget %}#}

{# Override form_row only for password type #}
{% block password_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="has-feedback">
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock password_row %}

{% block complex_choice_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="complex-choice-group form-group{% if not valid %} has-error{% endif %}{% if form.vars.attr.class is defined %} {{form.vars.attr.class}}{% endif %}">
        <div class="check">{{ form_row(form.check) }}</div>
        <div style="flex-grow: 1;">
            {{ form_label(form, null, {'label_attr': {'for': form.check.vars.id, 'style': 'cursor: pointer;'}}) }}
            <div class="comment">
                {{ form_widget(form.comment, widget_attr) }}
                {{ form_errors(form.comment) }} {# -#}
            </div>
        </div>
    </div> {# -#}
{%- endblock complex_choice_row %}

{% block answer_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        <div class="">
            {{- form_widget(form.response, widget_attr) -}}
            {{- form_help(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock answer_row %}

{% block _evaluation_conformites_entry_reponses_entry_widget %}
    <div id="{{ form.vars.id }}" class="conformite-organisation-reponse">
        <div class="row form-group{% if form.reponse.vars.valid == false or form.reponseRaison.vars.valid == false %}has-error{% endif %}">
            <div class="col-sm-4">
                {{ form_widget(form.reponse) }}
                {{ form_errors(form.reponse) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.reponseRaison) }}
                {% if form.reponseRaison.vars.valid == false %}
                    <div class="form-error">
                        {{ form_errors(form.reponseRaison) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock _evaluation_conformites_entry_reponses_entry_widget %}

{% block _evaluation_conformites_entry_reponses_entry_reponse_entry_widget %}
    <div class="radio">
        <label
                {% if form.vars.value != constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::NON_CONCERNE') %}
                class="tooltipreponse"
                {% endif %}
                for="{{ form.vars.id }}">
                <input type="radio" {{ block('widget_attributes') }} value="{{ form.vars.value }}" {% if checked %} checked="checked"{% endif %}/>
                {{ form.vars.label }}
            {% if form.vars.value != constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::NON_CONCERNE') %}
                <span class="tooltipbox">

                    {% if form.vars.value == constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::INEXISTANTE') %}
                        {{ tooltip_conformite_organisation_inexistante|raw }}
                    {% elseif form.vars.value == constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::TRES_ELOIGNEE') %}
                        {{ tooltip_conformite_organisation_tres_eloignee|raw }}
                    {% elseif form.vars.value == constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::PARTIELLE') %}
                        {{ tooltip_conformite_organisation_partielle|raw }}
                    {% elseif form.vars.value == constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::QUASI_CONFORME') %}
                        {{ tooltip_conformite_organisation_quasi_conforme|raw }}
                    {% elseif form.vars.value == constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::MESURABLE') %}
                        {{ tooltip_conformite_organisation_mesurable|raw }}
                    {% elseif form.vars.value == constant('App\\Domain\\Registry\\Dictionary\\ConformiteOrganisation\\ReponseDictionary::REVISEE') %}
                        {{ tooltip_conformite_organisation_revisee|raw }}
                    {% endif %}
                </span>
            {% endif %}
        </label>
    </div>
{% endblock %}
