{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement delete' %}
{% set menuItem = 'registry_mesurement' %}

{% block title %}{{ 'registry.mesurement.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.mesurement.title.delete'|trans }}
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.breadcrumb.list'|trans, 'link': path('registry_mesurement_list') },
        { 'name': 'registry.mesurement.breadcrumb.delete_many'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>{{ 'registry.mesurement.label.delete_all_confirm'|trans({ '%object%': objects_length, '%s%': objects_length > 1 ? 's' : '' }) }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ path('registry_mesurement_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('registry_mesurement_delete_all_confirm', { 'ids': ids }) }}" class="btn btn-primary">
                        {{ 'global.action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
