<div class="row">
    <div class="box-body">
        <div class="col-md-6">
            {{ form_row(form.orderNumber) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
        </div>

        <div class="col-md-12">
            {% if section.referentielQuestions is not empty %}
                {% for question in section.referentielQuestions|sort((a, b) => a.vars['value'].questionNumber <=> b.vars['value'].questionNumber) %}
                    {%  include 'Maturity/Referentiel/_form_referentiel_question.html.twig' with {'form': question} %}
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="referentielQuestions{{ section.vars.value.id }}"
                        data-index="{{ form.referentielQuestions|length > 0 ? form.referentielQuestions|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.referentielQuestions.vars.prototype)|e('html_attr') }}"
                    ></ul>
                    <button type="button" class="add_question btn btn-primary" data-collection-holder-class="referentielQuestions{{ section.vars.value.id }}"><i class="fa fa-plus"></i> Ajouter une question</button>
                </div>
            </div>
        </div>
    </div>
</div>


