<div class="box box-solid box-info">
    <div class="box-header">
        <div class="col-md-5">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.weight) }}
        </div>
        <div class="col-md-2">
            <a href="#question_{{ question.orderNumber.vars['value'] }}" class="box-link" data-toggle="collapse" style="float:right"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="collapse" id="question_{{ question.orderNumber.vars['value'] }}">
        <div class="box-body">
            <div class="col-md-12">
                <div>Réponses :</div>
                {{ form_row(form.orderNumber) }}
                <div class="col-md-2">
                    {{ form_row(form.option) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.optionReason) }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if question.referentielAnswers is not empty %}
                            {% for answer in question.referentielAnswers|sort((a, b) => a.vars['value'].orderNumber <=> b.vars['value'].orderNumber) %}
                                {% include 'Maturity/Referentiel/_form_referentiel_answer.html.twig' with {'form': answer} %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="referentielAnswers{{ question.vars.value.id }}"
                                data-index="{{ form.referentielAnswers|length > 0 ? form.referentielAnswers|last.vars.name + 1 : 0 }}"
                                data-prototype="{{ form_widget(form.referentielAnswers.vars.prototype)|e('html_attr') }}"
                            ></ul>
                            <button type="button" class="add_answer btn btn-primary" data-collection-holder-class="referentielAnswers{{ question.vars.value.id }}"><i class="fa fa-plus"></i> Ajouter une réponse</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
