{% set submitValue = submitValue|default('action.submit'|trans) %}

<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="col-md-12">
            <div class="row" style="background: white">
                <div class="box box-solid" >
                    <div class="box-header with-border">{{ 'maturity.referentiel.form.informations_generales'|trans }}</div>
                    <div class="box-body col-md-6">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    Référentiel
                </div>
            </div>
            {% if form.referentielSections is not empty %}
                {% set colors = ['box-info','box-success','box-primary','box-warning'] %}
                {% for section in form.referentielSections|sort((a, b) => a.vars['value'].orderNumber <=> b.vars['value'].orderNumber) %}
                    {% set colorSection = (loop.index - 1) % 4 %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="box box-solid {{ colors[colorSection] }}">
                                <div class="box-header with-border">
                                    {{ loop.index }}.Section
                                    <a href="#section_{{ loop.index }}" class="box-link" data-toggle="collapse" style="float:right"><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="collapse" id="section_{{ loop.index }}">
                                    <div class="box-body">
                                        {% include 'Maturity/Referentiel/_form_referentiel_section.html.twig' with {'form': section} %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="referentielSections"
                        data-index="{{ form.referentielSections|length > 0 ? form.referentielSections|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.referentielSections.vars.prototype)|e('html_attr') }}"
                    ></ul>
                    <button type="button" class="add_section btn btn-primary" data-collection-holder-class="referentielSections"><i class="fa fa-plus"></i> Ajouter une section</button>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body text-center">
                        <a href="{{ path('maturity_referentiel_list') }}" class="btn btn-default">
                            {{ 'maturity.referentiel.action.back_to_list'|trans }}
                        </a>
                        <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        document
            .querySelectorAll('.add_section')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

        function addFormToCollection(e){
            console.log('addSection');
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        }
    });

    $(document).ready(function() {
        $('.add_question').on('click', addFormToCollection)

        function addFormToCollection(e){
            console.log('addQuestion',e.currentTarget.dataset.collectionHolderClass);
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        }
    });
</script>

