{% set submitValue = submitValue|default('action.submit'|trans) %}
{% import _self as formMacros %}
{% macro printAnswerRow(answer) %}
    <li class="col-md-12">
        {% include 'Maturity/Referentiel/_form_referentiel_answer.html.twig' with {'form': answer} %}
    </li>
{% endmacro %}
{% macro printQuestionRow(question) %}
    <li class="col-md-12">
        {%  include 'Maturity/Referentiel/_form_referentiel_question.html.twig' with {'form': question} %}
    </li>
{% endmacro %}
{% macro printSectionRow(section, index, colors) %}
    {% set colorSection = 0 %}
    {% if index matches '/^\\d+$/' %}
        {% set colorSection = (index - 1) % 4 %}
    {% endif %}
    <li class="col-md-12">
        <div class="row">
            <div class="box box-solid {{ colors[colorSection] }}">
                <div class="box-header with-border">
                    {{ index }}.{{ section.vars['value'] ? section.vars['value'].name : 'Nouvelle section' }}
                    <a href="#section_{{ index }}" class="box-link" data-toggle="collapse" style="float:right"><i class="fa fa-plus"></i></a>
                </div>
                <div class="collapse section" id="section_{{ index }}">
                    <div class="box-body">
                        {% include 'Maturity/Referentiel/_form_referentiel_section.html.twig' with {'form': section} %}
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="col-md-12">
            <div class="row" style="background: white">
                <div class="box box-solid" >
                    <div class="box-header with-border">{{ 'maturity.referentiel.form.informations_generales'|trans }}</div>
                    <div class="box-body col-md-6">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    Référentiel
                </div>
            </div>

        {% set colors = ['box-info','box-success','box-primary','box-warning'] %}
        <div id="prototypes"
            data-prototype-answer = "{{ formMacros.printAnswerRow(form.referentielSections.vars.prototype.children['referentielQuestions'].vars.prototype.children['referentielAnswers'].vars.prototype)|e }}"
            data-prototype-question = "{{ formMacros.printQuestionRow(form.referentielSections.vars.prototype.children['referentielQuestions'].vars.prototype)|e }}"
            data-prototype-section="{{ formMacros.printSectionRow(form.referentielSections.vars.prototype, '__index__', colors)|e('html_attr') }}"
        ></div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="referentielSections" style="margin: 0;list-style: none; padding:0"
                        data-index="{{ form.referentielSections|length > 0 ? form.referentielSections|length : 9999 }}"
                   >
                        {% do form.referentielSections.setRendered() %}
                        {% if form.referentielSections is not empty %}
                            {% for section in form.referentielSections|sort((a, b) => a.vars['value'].orderNumber <=> b.vars['value'].orderNumber) %}
                                {{ formMacros.printSectionRow(section, loop.index, colors) }}
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <button type="button" class="add_section btn btn-primary" data-collection-holder-class="referentielSections"><i class="fa fa-plus"></i> Ajouter une section</button>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body text-center">
                        <a href="{{ path('maturity_referentiel_list') }}" class="btn btn-default">
                            {{ 'maturity.referentiel.action.back_to_list'|trans }}
                        </a>
                        <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $(document).ready(function() {
        $('body').on('click', '.add_section', addFormToCollection)
            .on('click', '.add_question', addFormToCollection)
            .on('click', '.add_answer', addFormToCollection)
        ;
        $(document).on("click", '.box-link', function() {
            $(this).parent().next().collapse('toggle');
        });

        function addFormToCollection(e){
            const btn = $(e.currentTarget)
            let type = e.currentTarget.classList[0];

            let html = $('#prototypes').data('prototype-section')
            if (type === 'add_section') {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                collectionHolder.dataset.index++
                const index = collectionHolder.dataset.index;
                let html = $('#prototypes').data('prototype-section')
                console.log('old HTML', html)
                html = html.replace(/__section_name__/g, index).replace(/__index__/g, index)
                console.log('new HTML', html)
                btn.parent('div').find('ul.referentielSections').append('<li>'+html+'</li>');
                $('#referentiel_referentielSections_'+index+'_orderNumber').val(index);
            } else if (type === 'add_question') {
                let html = $('#prototypes').data('prototype-question')
                const holder = btn.parent().parent().find('ul.referentielQuestions')
                const section = holder.data('section');
                const oldIndex = holder.data('index')
                html = html.replace(/__section_name__/g, section).replace(/__question_name__/g, oldIndex)
                holder.append('<li>'+html+'</li>');
                const newIndex = holder.data('index') + 1
                holder.data('index', newIndex)
                $('#referentiel_referentielSections_'+ section + '_referentielQuestions_' + oldIndex + '_orderNumber').val(oldIndex);
            } else {
                let html = $('#prototypes').data('prototype-answer')
                const holder = btn.parent().parent().find('ul.referentielAnswers')
                console.log('holder', holder)
                const section = holder.data('section');
                const question = holder.data('question');
                const oldIndex = holder.data('index')
                html = html.replace(/__section_name__/g, section).replace(/__question_name__/g, question).replace(/__answer_name__/g, oldIndex)
                holder.append('<li>'+html+'</li>');
                const newIndex = holder.data('index') + 1
                holder.data('index', newIndex)
                $(`#referentiel_referentielSections_${section}_referentielQuestions_${question}_referentielAnswers_${oldIndex}_orderNumber`).val(oldIndex)
            }


            switch (type){
                case 'add_section':

                    break;
                case 'add_question':
                    break;
                case 'add_answer':
                    //
                    break;
            }

        }
    });
</script>

