{% set submitValue = submitValue|default('action.submit'|trans) %}

<div class="row">
    {{ form_start(form) }}
    <div class="col-md-12">
        <div class="row">
            <div class="box box-solid box-info">
                <div class="box-header with-border">{{ 'maturity.referentiel.form.informations_generales'|trans }}</div>
                <div class="box-body col-md-6">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                Référentiel
            </div>
        </div>
        {% for reponse in form.referentielSections %}
            <div class="col-md-12">
                <div class="row">
                    <div class="box box-solid box-info">
                        <div class="box-header with-border"> {{ loop.index }}.Section  </div>
                        <div class="box-body col-md-6">
                            {% include 'Maturity/Referentiel/_form_referentiel_section.html.twig' with {'form': reponse} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('maturity_referentiel_list') }}" class="btn btn-default">
                        {{ 'maturity.referentiel.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
