{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_referentiel delete' %}
{% set menuItem = 'maturity_referentiel' %}

{% block title %}{{ 'maturity.referentiel.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'maturity.referentiel.title.delete'|trans }}
        {#
        <small>{{ object }}</small>
        #}

    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.referentiel.breadcrumb.list'|trans, 'link': path('maturity_referentiel_list') },
        { 'name': 'maturity.referentiel.breadcrumb.delete'|trans({'%name%': object.name}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>
                        Souhaitez vous vraiment supprimer le referentiel <b>{{ object.name }}</b> du {{ object.createdAt|date('d/m/Y') }} ?
                    </p>
                    <p>
                        <b>La suppression de ce référentiel entraînera la suppression des indices de maturité liés pour les structures suivantes&nbsp;:</b>
                    </p>

                    <ul>
                        {% for collectivity in object.surveys|map(s => s.collectivity.name)|reduce(
                            (unique, item) => item in unique ? unique : unique|merge([item]), []
                        )|sort %}
                            <li>
                                <b>{{ collectivity }}</b>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="box-footer">
                    <a href="{{ path('maturity_referentiel_list') }}" class="btn btn-default">
                        {{ 'maturity.referentiel.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('maturity_referentiel_delete_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
