{% extends 'base.html.twig' %}

{% set bodyClass = 'reporting_journalisation show' %}
{% set menuItem = 'reporting_journalisation' %}

{% block title %}{{ 'reporting.journalisation.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'reporting.journalisation.title.list'|trans }}
    </h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <input class="form-control" type="text" id="search_utilisateur" placeholder="Utilisateur" style="width: 100%;">
                                </th>
                                <th>
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="Collectivité" style="width: 100%;">
                                </th>
                                <th>
                                    <input class="datepicker form-control" type="text" id="search_date" placeholder="Date" style="width: 100%;">
                                </th>
                                <th>
                                    <select class="form-control" id="search_sujet" style="width: 100%;">
                                        <option value="">Sujet</option>
                                        {% for key, subject in dictionary('reporting_log_journal_subject') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th>
                                    <select class="form-control" id="search_action" style="width: 100%;">
                                        <option value="">Action</option>
                                        {% for key, action in dictionary('reporting_log_journal_action') %}
                                            <option value="{{ key }}">{{ action }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th>
                                    <input class="form-control" type="text" id="search_last_know_name" placeholder="Nom" style="width: 100%;">
                                </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Collectivité</th>
                                <th>Date</th>
                                <th>Sujet</th>
                                <th>Action</th>
                                <th>Dernier nom connu - id</th>
                                <th>Lien</th>
                            </tr>
                        </thead>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        $(document).ready(function() {
            $('#table_filter').hide();
            var oTable = $('#table').DataTable();
            $('#search_utilisateur').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
            $('#search_date').change(function(){
                oTable.column('2').search($(this).val()).draw() ;
            });
            $('#search_sujet').change(function(){
                oTable.column('3').search($(this).val()).draw() ;
            });
            $('#search_action').change(function(){
                oTable.column('4').search($(this).val()).draw() ;
            });
            $('#search_last_know_name').keyup($.debounce(250, function(){
                oTable.column('5').search($(this).val()).draw() ;
            }));
        } );
    </script>
{% endblock %}

