{% set submitValue = submitValue|default('action.submit'|trans) %}
{{ form_errors(form) }}
{{ form_start(form) }}
{{ form_row(form.name) }}
{% if form.url is defined %}
    {{ form_row(form.url) }}
{% endif %}
{% if form.uploadedFile is defined %}
    {{ form_row(form.uploadedFile) }}
{% endif %}
{{ form_row(form.categories) }}
{{ form_row(form.thumbUploadedFile) }}
{{ form_row(form.pinned) }}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('documentation_document_list') }}" class="btn btn-default">
                    {{ 'documentation.document.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>
</div>



{{ form_end(form) }}

