{% extends 'base.html.twig' %}

{% set bodyClass = 'documentation_document list' %}
{% set menuItem = 'documentation_document' %}

{% block title %}{{ 'documentation.document.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'documentation.document.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'documentation.document.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_REFERENT') %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                                {{ 'documentation.document.action.new'|trans }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('documentation_document_create') }}">{{ 'documentation.document.action.file'|trans }}</a></li>
                                <li><a href="{{ path('documentation_document_create', {isLink: '1'}) }}">{{ 'documentation.document.action.url'|trans }}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                
                        {# SWITCH GRID LIST #}
                        {% if is_granted('ROLE_USER') %}
                        <div class="col-md-12 col-xl-2">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="{{ path('documentation_document_list') }}" class="btn btn-default">
                                        <i class="fas fa-list"></i>
                                        {{ 'documentation.document.action.list'|trans }}
                                    </a>
                                    {# RESET FILTERS #}
                                    <button id="button-reset" class="btn btn-default">
                                        Réinitialiser les filtres
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" class="form-check-input" id="search_favorite">
                                    <label class="form-check-label" for="search_favorite">Favoris</label>
                                </div>
                                <div class=" col-md-2">
                                    <select class="form-control" id="search_type" style="width: 100%;">
                                        <option value="" selected>Type</option>
                                        {% for key, subject in dictionary('documentation_document_type') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class=" col-md-2">
                                    <input class="form-control" type="text" id="search_name" placeholder="Nom" style="width: 100%;">
                                </div>
                                <div class=" col-md-2">
                                    <select class="form-control selectpicker" id="search_category" title="Catégories" style="width: 100%;" multiple>
                                        {% for category in categories %}
                                            <option
                                                value="{{ category.name }}"
                                                {% if app.request.get('category') and app.request.get('category') == category.id  %}
                                                selected="selected"
                                                {% endif %}
                                            >
                                                {{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                    </div>
                    <div class="content">
                        <div class="row">
                            {% for object in objects %}
                            <div class="col-md-2">
                                <div class="box box-solid" style="box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;">
                                    <div style="position:absolute; background:white; padding: 5px;box-shadow:0 .5rem 1rem rgba(0,0,0,.15)">
                                        <a href="{{ path('documentation_document_favorite', { 'id': object.id, 'back': app.request.uri }) }}" style="color:#f39c12;">
                                            {% if object.favoritedUsers |filter(f => f.id == app.user.id)|length > 0 %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="card-img-top text-center">
                                        {% if(object.thumbUrl) %}
                                            <img src="{{ object.thumbUrl }}" alt="" height="100" />
                                        {% else %}
                                            <div class="h1 text-muted" style="height:100px;padding: 40px;background: #f2f2f2;"><i class="fas fa-image"></i></div>
                                        {% endif %}
                                    </div>
                                    <div class="card-body" style="padding:10px">
                                        <a class="h4 text-info" href="#">{{ object.name }}</a>
                                        <div class="small"><i class="far fa-file-{{ object.type }}"></i> {{ object.typeName }} | {{ object.size }} | {{ object.createdAt|date('d/m/Y') }}</div>
                                        <div class="small">{{ object.categories|map(c => "#{c.name}") | join(', ') }}</div>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div class="card-footer" style="padding:10px">
                                        <div class="row" style="margin:0!important;">
                                            <a href="" class="btn text-info btn-xs col-md-12" style="border-color:#31708f"><i class="fas fa-share"></i> Partager</a>
                                            <div class="col-md-6" style="padding: 5px 5px 0 0;">
                                                <a href="{{ path('documentation_document_edit', { 'id': object.id }) }}" class="btn btn-block text-info btn-xs" style="border-color:#31708f">
                                                    <i class="fa fa-pencil-alt"></i>
                                                    {{ 'action.edit'|trans }}
                                                </a>
                                            </div>
                                            <div class="col-md-6" style="padding: 5px 0 0 5px;">
                                                <a href="{{ path('documentation_document_delete', { 'id': object.id }) }}" class="btn btn-block text-info btn-xs" style="border-color:#31708f">
                                                    <i class="fa fa-trash"></i>
                                                    {{ 'action.delete'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "favorite"},
            {"data": "pinned"},
            {"data": "type"},
            {"data": "weight"},
            {"data": "name"},
            {"data": "category"},
            {"data": "created_at"},
            {"data": "actions", "orderable": false},
        ],
    } %}

    {{ include('_Utils/_datatable.html.twig') }}

    <script>
        function resetFilters() {
            $('[id^=search_]').each(function() {
                $(this).val('');
            });
            var table = $('#table').DataTable();
            table.columns().search('');
        }
        function setEvents() {
            var oTable = $('#table').DataTable();
            
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );

        $('#button-reset').on('click', function() {
            resetFilters();
            var table = $('#table').DataTable();
            table.columns().search('').draw();
        })
    </script>

{% endblock %}
