{% extends 'base.html.twig' %}

{% set bodyClass = 'documentation_document list' %}
{% set menuItem = 'documentation_document' %}

{% set activeCategories = [] %}

{% for object in objects %}
    {% for cat in object.categories %}
        {% set activeCategories = activeCategories|merge([cat.name]) %}
    {% endfor %}
{% endfor %}

{% block title %}{{ 'documentation.document.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'documentation.document.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'documentation.document.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_REFERENT') %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                                {{ 'documentation.document.action.new'|trans }}
                                <span class="caret"></span>
                            </button>
                            <div class="dt-button-background" style=""></div>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('documentation_document_create') }}">{{ 'documentation.document.action.file'|trans }}</a></li>
                                <li><a href="{{ path('documentation_document_create', {isLink: '1'}) }}">{{ 'documentation.document.action.url'|trans }}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="dt-buttons">
                        {# SWITCH GRID LIST #}
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('documentation_document_grid') }}" class="btn btn-default">
                                <i class="fas fa-th"></i>
                                {{ 'documentation.document.action.grid'|trans }}
                            </a>
                        {% endif %}

                        <button class="btn dt-button buttons-collection buttons-colvis" tabindex="0" aria-controls="example" type="button" aria-haspopup="true" aria-expanded="false">
                            <span>Colonnes</span>
                            <span class="dt-down-arrow"></span>
                        </button>

                        <div class="dt-button-collection" style="top: 34px; left: 0px;">
                            <div role="menu">
                                <button class="btn dt-button buttons-columnVisibility toggle-vis btn-block" type="button" data-column="2">
                                    <span>{{ 'documentation.document.list.type'|trans }}</span>
                                </button>
                                <button class="btn dt-button buttons-columnVisibility toggle-vis btn-block" type="button" data-column="3">
                                    <span>{{ 'documentation.document.list.weight'|trans }}</span>
                                </button>
                                <button class="btn dt-button buttons-columnVisibility toggle-vis btn-block" type="button" data-column="6">
                                    <span>{{ 'documentation.document.list.created_at'|trans }}</span>
                                </button>
                            </div>
                        </div>

                        <button id="button-reset" class="btn btn-default dt-button buttons-collection buttons-colvis" tabindex="0" aria-controls="table" type="button" aria-haspopup="true" aria-expanded="false">
                            <span>Réinitialiser les filtres</span>
                        </button>

                        {# Uniquement pour les DPO #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('documentation_category_list') }}" class="btn btn-default">
                                {{ 'documentation.category.action.list'|trans }}
                            </a>
                        {% endif %}
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="checkbox" class="form-check-input" id="search_favorite">
                                    <label class="form-check-label" for="search_favorite">{{ 'documentation.document.list.favorite'|trans }}</label>
                                </th>
                                <th></th>
                                <th>
                                    <select class="form-control" id="search_type" style="width: 100%;">
                                        <option value="" selected>{{ 'documentation.document.list.type'|trans }}</option>
                                        {% for key, subject in dictionary('documentation_document_type') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th></th>
                                <th>
                                    <input class="form-control" type="text" id="search_name" placeholder="Nom" style="width: 100%;">
                                </th>
                                <th>
                                    <select class="form-control selectpicker" id="search_category" style="width: 100%;" 
                                        multiple 
                                        title="Catégories" 
                                        > 
                                        {% for category in categories %}
                                            {% if category.name in activeCategories %}
                                                <option
                                                        value="{{ category.name }}"
                                                        {% if app.request.get('category') and app.request.get('category') == category.id  %}
                                                        selected="selected"
                                                        {% endif %}
                                                    >
                                                        {{ category.name }}
                                                    </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </th>
                                <th><input class="datepicker form-control" type="text" id="search_date" placeholder="Date" style="width: 100%;"></th>
                                <th></th>
                            </tr>
                            
                            <tr>
                                <th>{{ 'documentation.document.list.pinned'|trans }}</th>
                                <th>{{ 'documentation.document.list.favorited'|trans }}</th>
                                <th>{{ 'documentation.document.list.type'|trans }}</th>
                                <th>{{ 'documentation.document.list.weight'|trans }}</th>
                                <th>{{ 'documentation.document.list.name'|trans }}</th>
                                <th>{{ 'documentation.document.list.category'|trans }}</th>
                                <th>{{ 'documentation.document.list.created_at'|trans }}</th>
                                <th>{{ 'label.actions'|trans }}</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for object in objects %}
                        <tr>
                            <td class="text-center">
                                {%  if object.pinned == 1 %}
                                    <span style="visibility: hidden">{{ object.pinned }}</span>
                                    <i class="fas fa-paperclip"></i>
                                {% endif %}
                            </td>
                            <td class="text-center favorite">
                                <a href="{{ path('documentation_document_favorite', { 'id': object.id, 'back': app.request.uri }) }}" style="color:#f39c12;">
                                    {% if object.favoritedUsers |filter(f => f.id == app.user.id)|length > 0 %}
                                        1
                                    {% else %}
                                        0
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                {{ object.typeName }}
                            </td>
                            <td>
                                {{ object.size }}
                            </td>
                            <td><a href="{{ object.url }}" target="_blank">{{ object.name }}</a></td>
                            <td>
                                {{ object.categories|map(c => "#{c.name}") | join(', ') }}
                            </td>
                            <td>{{ object.createdAt|date('d/m/Y') }}</td>

                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('documentation_document_edit', { 'id': object.id }) }}">
                                    <i class="fa fa-pencil-alt"></i>&nbsp;{{ 'action.edit'|trans }}
                                </a>
                                <a href="{{ path('documentation_document_delete', { 'id': object.id }) }}">
                                    <i class="fa fa-trash"></i>&nbsp;{{ 'action.delete'|trans }}
                                </a>
                                <a class="sharelink" href='#' data-id="{{ url('documentation_document_share', {id: object.id}) }}" data-toggle="modal" data-target="#shareModal">
                                    <i class="fa fa-share"></i>&nbsp;{{ 'action.share'|trans }}
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="shareModal" class="modal fade" >
        <div class="modal-dialog">
            <div class="box box-solid box-default">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Voici le lien du fichier</h3>
                    <div class="box-tools pull-right">
                        <!-- Collapse Button -->
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body text-center">
                    <div id="linkDocument" class="modal-body"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <button onclick="copyToClipBoard()">Enregistrer le lien dans le presse papier</button>
                </div>
                <!-- box-footer -->
            </div>
        </div>
    </div>

    <style>
        div.dt-button-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
            background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
            background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
            background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
            background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
            background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
            z-index: 2001;
        }

        div.dt-button-collection {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            margin-top: 3px;
            padding: 8px 8px 4px 8px;
            border: 1px solid rgba(0,0,0,0.4);
            background-color: white;
            overflow: hidden;
            z-index: 2002;
            border-radius: 5px;
            box-shadow: 3px 3px 5px rgb(0 0 0 / 30%);
            box-sizing: border-box;
        }

        div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled) {
            background-color: #dadada;
            background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
            background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
            background-image: -ms-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
            background-image: -o-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
            background-image: linear-gradient(to bottom, #f0f0f0 0%, #dadada 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f0f0f0', EndColorStr='#dadada');
            box-shadow: inset 1px 1px 3px #666;
        }

        button.dt-button, div.dt-button, a.dt-button {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            margin-right: 0.333em;
            margin-bottom: 0.333em;
            padding: 0.5em 1em;
            border: 1px solid #999;
            border-radius: 2px;
            cursor: pointer;
            font-size: 0.88em;
            line-height: 1.6em;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            background-color: #e9e9e9;
            background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
            background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
            background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
            background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
            background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-decoration: none;
            outline: none;
            text-overflow: ellipsis;
        }
    </style>

{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "pinned"},
            {"data": "favorite"},
            {"data": "type"},
            {"data": "weight"},
            {"data": "name"},
            {"data": "category"},
            {"data": "created_at"},
            {"data": "actions", "orderable": false},
        ],

        order: [[0,'desc'],[6,'desc']],
        language: {
            buttons: {
                colvis: "Colonnes"
            },
        },
        dom: 'Bfrtip',
        columnDefs: [
            {
                targets: 4,
                className: 'noVis'
            }
        ],
        buttons: [
            {
                extend: 'colvis',
                columns: ':not(.noVis)'
            }
        ]
    } %}

    {# {{ include('_Utils/_serverside_datatable.html.twig') }} #}
    {{ include('_Utils/_datatable.html.twig') }}
    <script>
        $(document).ready(function() {
            $('.sharelink').on('click', function() {
                $('#linkDocument').text($(this).data('id'));
            })

            // SET FAVORITE ICON
            $('.favorite > a').each( (fav, obj) => {
                obj.innerHTML = obj.innerHTML.includes("1") ? '<i data-value="1" class="fas fa-star"></i>' : '<i data-value="0" class="far fa-star"></i>'
            })
        })

        function copyToClipBoard() {
            var text = $('#linkDocument').text();

            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }

        $(function () {
            $('.selectpicker').selectpicker();
            setTimeout(function() {
                document.getElementById('search_category').dispatchEvent(new Event('change', { 'bubbles': true }));
            },200);
        });

        function resetFilters() {
            $('[id^=search_]').each(function() {
                $(this).val('');
            });
            var table = $('#table').DataTable();
            table.columns().search('');
        }
        function setEvents() {
            var oTable = $('#table').DataTable();
            
            $('#search_favorite').off('change');
            $('#search_favorite').change(function(){
                console.log($(this).prop('checked'), oTable.column('1'))
                oTable.column('1').search($(this).prop('checked')).draw();
            });

            $('#search_type').off('change');
            $('#search_type').change(function(){
                console.log($(this).val())
                oTable.column('2').search($(this).val()).draw() ;
            });

            $('#search_name').off('keyup');
            $('#search_name').keyup($.debounce(250, function(){
                oTable.column('4').search($(this).val()).draw() ;
            }));

            $('#search_category').off('change');
            $('#search_category').change(function() {
                if ($(this).val() && $(this).val().length) {
                    oTable.column('5').search($(this).val().join(' ')).draw()
                    $('button[data-id="search_category"] .filter-option-inner-inner').html($(this).val().join(', '))
                } else {
                    oTable.column('5').search('').draw();
                    $('button[data-id="search_category"] .filter-option-inner-inner').html("Catégories")
                }
            });

            $('#search_date').off('change');
            $('#search_date').change(function(){
                oTable.column('6').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            $('.dt-button-background').hide();
            $('.dt-button-collection').hide();
            setEvents();

            // Affichage/Masquage d'une colonne
            $('.toggle-vis').on( 'click', function (e) {
                e.preventDefault();
                var table = $('#table').DataTable();
                // Get the column API object
                var column = table.column( $(this).attr('data-column') );

                // Toggle the visibility
                column.visible( ! column.visible() );
            });

            $('.dt-button-background').on('click',function(){
                $('.dt-button-background').hide();
                $('.dt-button-collection').hide();
            });

            $('.buttons-colvis').on('click',function(){
                $('.dt-button-background').show();
                $('.dt-button-collection').show();
            });
        } );

        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
        $('#button-reset').on('click', function() {
            resetFilters();
            var table = $('#table').DataTable();
            table.columns().search('').draw();
        })
    </script>

{% endblock %}
