{% extends 'base.html.twig' %}

{% set bodyClass = 'documentation_document list' %}
{% set menuItem = 'documentation_document' %}

{% block title %}{{ 'documentation.document.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'documentation.document.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'documentation.document.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_REFERENT') %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                                {{ 'documentation.document.action.new'|trans }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('documentation_document_create') }}">{{ 'documentation.document.action.file'|trans }}</a></li>
                                <li><a href="{{ path('documentation_document_create', {isLink: '1'}) }}">{{ 'documentation.document.action.url'|trans }}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'documentation.document.list.name'|trans }}</th>
                            <th>{{ 'documentation.document.list.thumbnail'|trans }}</th>

                            <th>{{ 'documentation.document.list.favorited'|trans }}</th>
                            <th>{{ 'documentation.document.list.created_at'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                        <tr>
                            <td>{{ object.name }}</td>
                            <td>
                                {% if object.isLink %}
                                    <a href="{{ object.url }}" target="_blank">
                                {% else %}
                                    <a href="{{ path('documentation_document_download', {name: object.file}) }}" target="_blank">
                                {% endif %}

                                {% if(object.thumbUrl) %}
                                <img src="{{ object.thumbUrl }}" alt="" width="100" />
                                {% else %}
                                {{ object.file }}
                                {% endif %}
                                </a>
                            </td>
                            <td>{{ object.categories | json_encode }}</td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>

                            <td>
                                {% if is_granted('ROLE_USER') %}
                                <a class="sharelink" href='#' data-id="{{ url('documentation_document_share', {id: object.id}) }}" data-toggle="modal" data-target="#shareModal">
                                    <i class="fa fa-share"></i>
                                    {{ 'action.share'|trans }}
                                </a>
                                <a href="{{ path('documentation_document_edit', { 'id': object.id }) }}">
                                    <i class="fa fa-pencil-alt"></i>
                                    {{ 'action.edit'|trans }}
                                </a>
                                <a href="{{ path('documentation_document_delete', { 'id': object.id }) }}">
                                    <i class="fa fa-trash"></i>
                                    {{ 'action.delete'|trans }}
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="shareModal" class="modal fade" >
        <div class="modal-dialog">
            <div class="box box-solid box-default">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Voici le lien du fichier</h3>
                    <div class="box-tools pull-right">
                        <!-- Collapse Button -->
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body text-center">
                    <div id="linkDocument" class="modal-body"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <button onclick="copyToClipBoard()">Enregistrer le lien dans le presse papier</button>
                </div>
                <!-- box-footer -->
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ include('_Utils/_datatable.html.twig') }}
    <script>
        $(document).ready(function() {
            $('.sharelink').on('click', function() {
                $('#linkDocument').text($(this).data('id'));
            })
        })

        function copyToClipBoard() {
            var text = $('#linkDocument').text();

            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }
    </script>
{% endblock %}
