{% extends 'base.html.twig' %}

{% set bodyClass = 'documentation_document list' %}
{% set menuItem = 'documentation_document' %}

{% block title %}{{ 'documentation.document.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'documentation.document.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'documentation.document.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('documentation_document_create') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'documentation.document.action.new'|trans }}
                    </a>
                    {% endif %}
                    {# RESET FILTERS #}
                    <button id="button-reset" class="btn btn-default">
                        Réinitialiser les filtres
                    </button>

                    <select class="form-control" id="search_type">
                        <option value="" selected>Type</option>
                        {% for key, subject in dictionary('documentation_document_type') %}
                            <option value="{{ key }}">{{ subject }}</option>
                        {% endfor %}
                    </select>

                    <input class="form-control" type="text" id="search_name" placeholder="Nom">

                    <select class="form-control" id="search_category">
                        <option value="">Catégorie</option>
                        {# {% for key, subject in dictionary('documentation_document_category') %}
                            <option value="{{ key }}">{{ subject }}</option>
                        {% endfor %} #}
                    </select>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                
                    {# SWITCH GRID LIST #}
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('documentation_document_grid') }}" class="btn btn-default">
                            <i class="fas fa-th"></i>
                            {{ 'documentation.document.action.grid'|trans }}
                        </a>
                    {% endif %}

                    {# Uniquement pour les DPO #}
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('documentation_category_list') }}" class="btn btn-default">
                            {{ 'documentation.category.action.list'|trans }}
                        </a>
                    {% endif %}

                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            
                            <tr>
                                <th>{{ 'documentation.document.list.favorite'|trans }}</th>
                                <th>{{ 'documentation.document.list.type'|trans }}</th>
                                <th>{{ 'documentation.document.list.weight'|trans }}</th>
                                <th>{{ 'documentation.document.list.name'|trans }}</th>
                                <th>{{ 'documentation.document.list.category'|trans }}</th>
                                <th>{{ 'documentation.document.list.fichier'|trans }}</th>
                                <th>{{ 'documentation.document.list.created_at'|trans }}</th>

                                <th>{{ 'label.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                        <tr>
                            <td class="text-center">
                                <a class="text-warning" href="{{ path('documentation_document_edit', { 'id': object.id }) }}">
                                    <i class="far fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {# #f39c12 #}
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td>{{ object.name }}</td>
                            <td></td>
                            <td>{{ object.file }}</td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>

                            <td>
                                {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('documentation_document_edit', { 'id': object.id }) }}">
                                    <i class="fa fa-pencil-alt"></i>
                                    {{ 'action.edit'|trans }}
                                </a>
                                <a href="{{ path('documentation_document_delete', { 'id': object.id }) }}">
                                    <i class="fa fa-trash"></i>
                                    {{ 'action.delete'|trans }}
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# {% block javascripts %}
    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %} #}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "favorite"},
            {"data": "type"},
            {"data": "weight"},
            {"data": "name"},
            {"data": "category"},
            {"data": "file", "orderable": false},
            {"data": "created_at"},
            {"data": "actions", "orderable": false},
        ],
    } %}

    {# {{ include('_Utils/_serverside_datatable.html.twig') }} #}
    {{ include('_Utils/_datatable.html.twig') }}

    <script>
        function resetFilters() {
            $('[id^=search_]').each(function() {
                $(this).val('');
            });
            var table = $('#table').DataTable();
            table.columns().search('');
        }
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_type').off('keyup');
            $('#search_type').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_name').off('keyup');
            $('#search_name').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );

        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
        $('#button-reset').on('click', function() {
            resetFilters();
            var table = $('#table').DataTable();
            table.columns().search('').draw();
        })
    </script>

{% endblock %}