{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_mesure_protection delete' %}
{% set menuItem = 'aipd_mesure_protection' %}

{% block title %}{{ 'aipd.mesure_protection.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'aipd.mesure_protection.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'aipd.mesure_protection.breadcrumb.list'|trans, 'link': path('aipd_mesure_protection_list') },
        { 'name': 'aipd.mesure_protection.breadcrumb.delete'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    Souhaitez vous vraiment supprimer la mesure de protection "{{ object }}" ?
                </div>
                <div class="box-footer">
                    <a href="{{ path('aipd_mesure_protection_list') }}" class="btn btn-default">
                        {{ 'aipd.mesure_protection.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('aipd_mesure_protection_delete_confirm', { 'id': id }) }}" class="btn btn-primary">
                        {{ 'action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
