<footer id="main-footer" class="main-footer d-flex flex-wrap justify-content-between" role="contentinfo" tabindex="-1">
    <p class="no-margin">
        <strong><i class="fa-regular fa-copyright small"></i> 2018 <a href="{{ app_footer_provider_url }}" target="_blank" rel="nofollow noreferrer noopener">{{ app_footer_provider_name }}</a></strong>
        {% if app.user %}: {{ app.user.collectivity }}{% endif %}
    </p>

    <p class="no-margin">
        {% if app.user %}
            <a href="{{ path('page_sitemap') }}">{{ 'page.sitemap.title'|trans }}</a>
            <span aria-hidden="true" style="padding: 0 5px;">|</span>
            <a href="{{ path('page_declaration') }}">Accessibilité : {{ 'page.declaration.result'|trans }}</a>
            <span aria-hidden="true" style="padding: 0 5px;">|</span>
            <a href="{{ path('page_credit') }}">{{ 'page.credit.title'|trans }}</a>
            <span aria-hidden="true" style="padding: 0 5px;">|</span>
        {% endif %}
        v{{ app_version }}
    </p>
</footer>
