{% set notifs = notifications.findAllUnread() %}
{% set unreadNotifs = notifs %}
{#{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REFERENT') %}#}
{#    {% set unreadNotifs = notifs|filter(n => n.readAt is not defined or n.readAt is null) %}#}
{#{% else %}#}
{#    {% set unreadNotifs = notifs|filter(n => n.userReadAt is not defined or n.userReadAt is null)|map(n => n[0] is defined ? n[0] : n) %}#}
{#{% endif %}#}
{% set maxNotifs = app_notification_header_number %}

<header class="main-header" role="banner">
    <!-- Logo -->
    <a aria-label="Tableau de bord" href="{{ path('reporting_dashboard_index') }}" class="logo">
        <span class="logo-mini"><img src="{{ asset(app_image_sidebar_reduced_path) }}" alt=""/></span>
        <span class="logo-lg"><img class="fit-picture" src={{ asset(app_image_logo_blanc) }} width="65%" alt=""></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" aria-label="En-tête principal">
        <!-- Sidebar toggle button-->
        <button aria-label="Ouvrir/fermer le menu" aria-expanded="true" class="btn sidebar-toggle" data-toggle="push-menu" >
            <i aria-hidden="true" class="fa fa-bars"></i>
        </button>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications -->
                {% if app_activate_notifications %}
                <li id="notifications" class="dropdown notifications-menu">
                    <button aria-label="{% if notifs|length %}{{ notifs|length }} {% endif %}Notifications" aria-expanded="false" class="btn nav-button" data-toggle="dropdown">
                        <i aria-hidden="true" class="fa fa-bell"></i>
                        {% if notifs|length %}
                        <span class="badge bg-yellow navbar-badge">{{ notifs|length }}</span>
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu dropdown-large" style="width:600px">
                        {{ block("body", "Notification/Notification/box.html.twig") }}
                    </ul>
                </li>
                {% endif %}
                <!-- User Account Menu -->
                {% if app.user is defined %}
                    <!-- Menu Toggle Button -->
                    {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="dropdown user user-menu">
                            <a href="{{ path('logout') }}" class="btn">
                                <span style="margin-right: 5px;">{{ app.user }} - {{ app.user.roles[0]|dictionary('user_user_role') }}</span>
                                <i aria-label="Déconnexion" class="fa fa-power-off"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% elseif is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="dropdown user user-menu nav-button">
                            <span style="margin-right: 5px;">{{ app.user }} - {{ app.user.roles[0]|dictionary('user_user_role') }}</span>
                            <i aria-hidden="true" class="fa fa-power-off"></i>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
