{% set notifs = notifications.findAll() %}

<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('reporting_dashboard_index') }}" class="logo">
        <span class="logo-mini"><img src="{{ asset(app_image_sidebar_reduced_path) }}" alt="Madis"/></span>

        <span class="logo-lg"><img class="fit-picture" src={{ asset(app_image_logo_blanc) }} width="65%" alt="Logo Madis"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Navbar Right Menu -->

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li id="notifications" class="nav-item dropdown notifications-menu">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge bg-yellow navbar-badge">{{ notifs|filter(n => n.readAt is null)|length }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-large">
                        {{ block("body", "Notification/Notification/box.html.twig") }}
                    </ul>
                </li>
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}href="{{ path('logout') }}"{% endif %} class="dropdown-toggle">
                        <span class="hidden-xs">{{ app.user }} - {{ app.user.roles[0]|dictionary('user_user_role') }}&nbsp;&nbsp;&nbsp;</span>
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
