<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

        <li {% if menuItem == 'reporting_dashboard' %}class="active"{% endif %}>
            <a href="{{ path('reporting_dashboard_index') }}">
                <i class="fa fa-tachometer-alt"></i>
                <span>Tableau de bord</span>
            </a>
        </li>

        {# REGISTRIES #}
        <li class="header">Registres</li>
        <li {% if menuItem == 'registry_treatment' %}class="active"{% endif %}>
            <a href="{{ path('registry_treatment_list') }}">
                <i class="fa fa-list"></i>
                <span>Traitements</span>
            </a>
        </li>
        <li {% if menuItem == 'registry_contractor' %}class="active"{% endif %}>
            <a href="{{ path('registry_contractor_list') }}">
                <i class="fa fa-address-card"></i>
                <span>Sous-traitants</span>
            </a>
        </li>

        {# ACTIONS #}
        <li class="header">Actions</li>
        <li {% if menuItem == 'registry_mesurement' %}class="active"{% endif %}>
            <a href="{{ path('registry_mesurement_list') }}">
                <i class="fa fa-adjust"></i>
                <span>Actions de protection</span>
            </a>
        </li>
        <li {% if menuItem == 'registry_mesurement_action_plan' %}class="active"{% endif %}>
            <a href="{{ path('registry_mesurement_action_plan') }}">
                <i class="fa fa-crosshairs"></i>
                <span>Plan d'action</span>
            </a>
        </li>

        {# REPORTING #}
        {#{% if not is_granted('ROLE_ADMIN') %}#}
        <li class="header">Rapports</li>
        <li {% if menuItem == 'maturity_survey' %}class="active"{% endif %}>
            <a href="{{ path('maturity_survey_list') }}">
                <i class="fa fa-chart-bar"></i>
                <span>Indice de maturité</span>
            </a>
        </li>
        <li {% if menuItem == 'reporting_review' %}class="active"{% endif %}>
            <a href="{{ path('reporting_review_index', {'id': app.user.collectivity.id}) }}">
                <i class="fa fa-clipboard-list"></i>
                <span>Générer un bilan</span>
            </a>
        </li>
        {#{% endif %}#}

        {# ADMINISTRATION #}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="header">Espace d'administration</li>
            <li {% if menuItem == 'user_collectivity' %}class="active"{% endif %}>
                <a href="{{ path('user_collectivity_list') }}">
                    <i class="fa fa-home"></i>
                    <span>Collectivités</span>
                </a>
            </li>
            <li {% if menuItem == 'user_user' %}class="active"{% endif %}>
                <a href="{{ path('user_user_list') }}">
                    <i class="fa fa-users"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>
        {% endif %}
    </ul>
</section>
