{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_contractor form edit' %}
{% set menuItem = 'registry_contractor' %}

{% block title %}{{ 'registry.contractor.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.contractor.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.contractor.breadcrumb.list'|trans, 'link': path('registry_contractor_list') },
        { 'name': 'registry.contractor.breadcrumb.edit'|trans({ '%name%': form.vars.value }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Contractor/_form.html.twig') }}
{% endblock %}
