{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_contractor list' %}
{% set menuItem = 'registry_contractor' %}

{% block title %}{{ 'registry.contractor.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.contractor.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.contractor.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('registry_contractor_create') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'registry.contractor.action.new'|trans }}
                    </a>
                    {% endif %}
                    <a href="{{ path('registry_contractor_report') }}" class="btn btn-default">
                        <i class="fa fa-clipboard-list"></i>
                        {{ 'registry.contractor.action.report'|trans }}
                    </a>
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'registry.contractor.list.name'|trans }}</th>
                            <th>{{ 'registry.contractor.list.collectivity'|trans }}</th>
                            <th>{{ 'registry.contractor.list.contractual_clauses_verified'|trans }}</th>
                            <th>{{ 'registry.contractor.list.adopted_security_features'|trans }}</th>
                            <th>{{ 'registry.contractor.list.maintains_treatment_register'|trans }}</th>
                            <th>{{ 'registry.contractor.list.sending_data_outside_eu'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = true %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}
    {% if not is_granted('ROLE_USER') %}
        {% set actionIsVisible = false %}
    {% endif %}

    {% set dataTableOptions = {
        columns: [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "visible": collectivityIsVisible, "className": collectivityClassname},
            {"data": "clauses_contractuelles"},
            {"data": "element_securite"},
            {"data": "registre_traitements"},
            {"data": "donnees_hors_eu"},
            {"data": "actions", "className": "noVis", "visible": actionIsVisible, "orderable": false},
        ],
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}
{% endblock %}
