<table class="table table-bordered" id="step3-table">
    <thead>
        <tr>
            <th scope="col" title="{{ 'aipd.modele_analyse.label.title_disponibility'|trans }}" style="width: 3%">{{ 'aipd.modele_analyse.label.disponibility'|trans }}</th>
            <th scope="col" title="{{ 'aipd.modele_analyse.label.title_integrity'|trans }}" style="width: 3%">{{ 'aipd.modele_analyse.label.integrity'|trans }}</th>
            <th scope="col" title="{{ 'aipd.modele_analyse.label.title_confidentiality'|trans }}" style="width: 3%">{{ 'aipd.modele_analyse.label.confidentiality'|trans }}</th>
            <th scope="col" style="width: 35%">{{ 'aipd.modele_analyse.label.scenario'|trans }}</th>
            <th scope="col" style="width: 12%">{{ 'aipd.modele_analyse.label.vraisemblance'|trans }}</th>
            <th scope="col" style="width: 12%">{{ 'aipd.modele_analyse.label.gravite'|trans }}</th>
            <th scope="col" style="width: 10%">{{ 'aipd.analyse_impact.label.impact_potentiel'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.precision'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% do form.scenarioMenaces.setRendered() %}
        {% for scenario in form.scenarioMenaces|sort((a, b) => compareStrings(a.vars.value.nom, b.vars.value.nom)) %}
            <tr>
                <td>
                    {% if scenario.vars.value.canDicBeModified %}
                        {{ form_widget(scenario.isDisponibilite) }}
                    {% else %}
                        {% if scenario.vars.value.isDisponibilite %}
                            <i aria-hidden="true" class="fa fa-check"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if scenario.vars.value.canDicBeModified %}
                        {{ form_widget(scenario.isIntegrite) }}
                    {% else %}
                        {% if scenario.vars.value.isIntegrite %}
                            <i aria-hidden="true" class="fa fa-check"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if scenario.vars.value.canDicBeModified %}
                        {{ form_widget(scenario.isConfidentialite) }}
                    {% else %}
                        {% if scenario.vars.value.isConfidentialite %}
                            <i aria-hidden="true" class="fa fa-check"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ scenario.vars.value.nom }}</td>
                <td>
                    {% if scenario.vars.value.canVraisemblanceBeModified %}
                        {{ form_widget(scenario.vraisemblance) }}
                    {% else %}
                        {{ scenario.vars.value.vraisemblance|dictionary('vraisemblance_gravite') }}
                        <div style="display: none">
                            {{ form_widget(scenario.vraisemblance) }}
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if scenario.vars.value.canGraviteBeModified %}
                        {{ form_widget(scenario.gravite) }}
                    {% else %}
                        {{ scenario.vars.value.gravite|dictionary('vraisemblance_gravite') }}
                        <div style="display: none">
                            {{ form_widget(scenario.gravite) }}
                        </div>
                    {% endif %}
                <td class="impact-potentiel">
                    {% if scenario.vars.value.gravite is not null and scenario.vars.value.gravite != 'vide' and scenario.vars.value.vraisemblance is not null and scenario.vars.value.vraisemblance != 'vide' %}
                        <span>
                            {{ getScenarioMenaceImpactPotentielLabel(scenario.vars.value)|raw }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ form_widget(scenario.precisions) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
