<tr>
    <td>{{ form.vars.value.label }}</td>
    <td>
        {% if(form.vars.value.canBeModified == 'non_renseigne') %}
            {{ form_widget(form.reponse) }}
        {% else %}
            <span style="display: none">{{ form_widget(form.reponse) }}</span>
            {{ form.reponse.vars.value|dictionary('reponse_critere_fondamental') }}
        {% endif %}
    </td>
    <td>{{ form_widget(form.justification) }}</td>
    <td><span>{{ form_widget(form.fichierFile) }}</span></td>
</tr>
