<tr>
    <td>{{ form_widget(form.label) }}</td>
    <td>{{ form_widget(form.labelLivrable) }}</td>
    <td>{{ form_widget(form.reponse) }}</td>
    <td> {{ form_widget(form.isVisible) }}</td>
    <td>{{ form_widget(form.texteConformite) }}</td>
    <td>{{ form_widget(form.texteNonConformite) }}</td>
    <td>{{ form_widget(form.texteNonApplicable) }}</td>
    <td>{{ form_widget(form.justification) }}</td>
    <td>{{ form_widget(form.fichierFile) }}</td>
</tr>
