<table class="table">
    <tr>
        <th scope="col">Label</th>
        <th scope="col">Justification obligatoire</th>
        <th scope="col">Texte en cas de conformité</th>
        <th scope="col">Texte en cas de non-conformité mineure</th>
        <th scope="col">Texte en cas de non-conformité majeure</th>
    </tr>

    {% for question in form.questionConformites|sort((a, b) => a.vars.value.position > b.vars.value.position) %}
        <tr>
            <td>{{ question.vars.value.question }}</td>
            <td>{{ form_widget(question.isJustificationObligatoire) }}</td>
            <td>{{ form_widget(question.texteConformite) }}</td>
            <td>{{ form_widget(question.texteNonConformiteMineure ) }}</td>
            <td>{{ form_widget(question.texteNonConformiteMajeure) }}</td>
        </tr>
    {% endfor %}
</table>
