{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_modele_analyse form edit' %}
{% set menuItem = 'aipd_modele_analyse' %}

{% block title %}{{ 'aipd.modele_analyse.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/collectionManager') }}
    {{ include('Aipd/Modele_analyse/_form_js.html.twig') }}
{% endblock %}

{% block body_head %}
    <h1>{{ 'aipd.modele_analyse.title.edit'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'aipd.modele_analyse.breadcrumb.list'|trans, 'link': path('aipd_modele_analyse_list') },
        { 'name': 'aipd.modele_analyse.breadcrumb.edit'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Aipd/Modele_analyse/_form.html.twig') }}
{% endblock %}
