{% set submitValue = submitValue|default('action.submit'|trans) %}

{{ form_start(form) }}

{% macro complex_choice(field) %}
<div class="col-sm-12 complex-choice-group">
    <div class="col-sm-1 check">{{ form_row(field.check) }}</div>
    <div class="col-sm-3">{{ form_label(field) }}</div>
    <div class="col-sm-8 comment">{{ form_widget(field.comment) }}</div>
</div>
{% endmacro %}
{% import _self as macro %}

<div class="row">

    <div class="col-md-6">
        {# GENERAL INFORMATIONS #}
        <div class="box box-solid box-info">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {{ form_row(form.goal) }}
                {{ form_row(form.manager) }}
                {{ form_row(form.active) }}
                {{ form_row(form.legalBasis) }}
                {{ form_row(form.legalBasisJustification) }}
            </div>
        </div>

        {# DATA CATEGORY #}
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.data_category'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.dataCategory) }}
                {{ form_row(form.dataCategoryOther) }}
                {{ form_row(form.sensibleInformations) }}
            </div>
        </div>

        {# RECIPIENTS #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.recipients'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.recipientCategory) }}
                {{ form_row(form.contractors) }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {# DETAILS #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.details'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.concernedPeople) }}
                {{ form_row(form.software) }}
                {{ form_row(form.paperProcessing) }}
                <div class="delay-group">
                    <div class="one-line">
                        <div>{{ form_label(form.delay) }}</div>
                        <div>{{ form_row(form.delay.number) }}</div>
                        <div>{{ form_row(form.delay.period) }}</div>
                    </div>
                    {{ form_row(form.delay.otherDelay) }}
                    {{ form_row(form.delay.comment) }}
                </div>
            </div>
        </div>

        {# SECURITY #}
        <div class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.security'|trans }}</h3></div>
            <div class="box-body">
                {{ macro.complex_choice(form.securityAccessControl) }}
                {{ macro.complex_choice(form.securityTracability) }}
                {{ macro.complex_choice(form.securitySaving) }}
                {{ macro.complex_choice(form.securityUpdate) }}
                {{ macro.complex_choice(form.securityOther) }}
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_treatment_list') }}" class="btn btn-default">
                    {{ 'registry.treatment.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

