{% set submitValue = submitValue|default('action.submit'|trans) %}

{{ form_start(form) }}

{{ include('Registry/Treatment/_form.html.twig') }}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_treatment_list') }}" class="btn btn-default">
                    {{ 'registry.treatment.action.back_to_list'|trans }}
                </a>
                {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_REFERENT') %}
                    <input type="submit" class="btn btn-info draft" value="{{ ('registry.treatment.action.draft'|trans) }}">
                {% endif %}
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.draft').on('click',function(){
            $('#treatment_statut').val('draft');
        })
    });
</script>

