{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment archive' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.archive'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.archive'|trans }}
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.breadcrumb.list'|trans, 'link': path('registry_treatment_list') },
        { 'name': 'registry.treatment.breadcrumb.archive'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>{{ 'registry.treatment.label.deactivate_all_confirm'|trans({ '%object%': treatment_length, '%s%': treatment_length > 1 ? 's' : '' }) }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ path('registry_treatment_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('registry_treatment_archive_all_confirm', { 'ids': ids }) }}" class="btn btn-primary">
                        {{ 'global.action.confirm_deactivate'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
