{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment list' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.list'|trans }}
        <small>
            {% if app.request.query.get('active') == 'false' %}
                {{ 'label.inactive'|trans }}
            {% else %}
                {{ 'label.active'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('registry_treatment_create') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'registry.treatment.action.new'|trans }}
                    </a>
                    {% endif %}
                    <a href="{{ path('registry_treatment_report') }}" class="btn btn-default">
                        <i class="fa fa-clipboard-list"></i>
                        {{ 'registry.treatment.action.report'|trans }}
                    </a>
                    {% if app.request.query.get('active') == 'false' %}
                        <a href="{{ path('registry_treatment_list', {'active' : 'true'}) }}" class="btn btn-default">
                            <i class="fa fa-list"></i>
                            {{ 'registry.treatment.action.active'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('registry_treatment_list', {'active' : 'false'}) }}" class="btn btn-default">
                            <i class="fa fa-list"></i>
                            {{ 'registry.treatment.action.inactive'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'registry.treatment.list.name'|trans }}</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>{{ 'registry.treatment.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th>{{ 'registry.treatment.list.legal_basis'|trans }}</th>
                            <th>{{ 'registry.treatment.list.software'|trans }}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th>{{ 'label.actions'|trans }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                        <tr>
                            <td>
                                <a href="{{ path('registry_treatment_show', {'id': object.id}) }}">
                                    {{ object.name }}
                                </a>
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ object.collectivity }}</td>
                            {% endif %}
                            <td>{{ object.legalBasis|dictionary('registry_treatment_legal_basis') }}</td>
                            <td>{{ object.software }}</td>
                            {% if is_granted('ROLE_USER') %}
                                <td>
                                    <a href="{{ path('registry_treatment_edit', { 'id': object.id }) }}">
                                        <i class="fa fa-pencil-alt"></i>
                                        {{ 'action.edit'|trans }}
                                    </a>
                                    <a href="{{ path('registry_treatment_delete', { 'id': object.id }) }}">
                                        <i class="fa fa-trash"></i>
                                        {{ 'action.delete'|trans }}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %}
