{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_request form edit' %}
{% set menuItem = 'registry_request' %}

{% block title %}{{ 'registry.request.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.request.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.request.breadcrumb.list'|trans, 'link': path('registry_request_list') },
        { 'name': 'registry.request.breadcrumb.edit'|trans({'%name%': form.vars.value}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Request/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            traiterBoutons('request_treatments', 'Traitements');
        })

        function traiterBoutons(label, ariaLabel) {
            const buttonElement = $(`button[data-id='${label}']`);
            if (buttonElement.attr('data-id') === undefined) {
                setTimeout(function(){
                    traiterBoutons(label, ariaLabel);
                }, 1000);
                return; // Sortie de la fonction pour éviter d'exécuter le reste du code
            }
            buttonElement.removeAttr('role');
            buttonElement.attr('aria-label', ariaLabel);
        }
    </script>
{% endblock %}

